@mixin buttonBefore($color, $width, $height, $top) {
    background-color: $color ;
    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}

.pomodoroCont {

    padding-bottom: 4rem;
    user-select: none;

    overflow-y: auto;
    height: calc(100vh - 11rem);

    & {
        scrollbar-width: thin;
        scrollbar-color: #0099ff white;
      }
    
      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 12px;
      }
    
      &::-webkit-scrollbar-track {
        background: white;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #0099ff;
        border-radius: 12px;
        border: 3px solid white;
      }

    h2 {
        color: #333;
        font-family: Poppins;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin-top: 5rem;
        user-select: none;

        @media (max-width: 1300px) {
            font-size: 2rem;
            margin-top: 4rem;
        }

        @media (max-width: 750px) {
            font-size: 1.5rem;
            margin-top: 3rem;
        }

        @media (max-width: 480px) {
            font-size: 1.5rem;
            margin-top: 10rem;
        }
        

        span {
            color: #09F;
        }
    }

    .timeCont {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        user-select: none;

        margin-top: 4.5rem;

        @media (max-width: 1300px) {
            margin-top: 3rem;
        }

        @media (max-width: 750px) {
            margin-top: 2.5rem;
        }

        @media (max-width: 480px) {
            margin-top: 1.5rem;
        }

        h1 {
            color: #09F;
            font-family: Poppins;
            font-size: 6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 0;
            margin-bottom: 0;

            text-align: center;
            
            @media (max-width: 1300px) {
                font-size: 4.8rem;
            }

            @media (max-width: 750px) {
                font-size: 3.6rem;
            }

            @media (max-width: 480px) {
                font-size: 2.4rem;
            }
            
        }
        
        .stars {
            position: absolute;
            top: -0.5rem;

            @media (max-width: 1300px) {
                transform: scale(.8);
            }

            @media (max-width: 750px) {
                transform: scale(.6);
            }

            @media (max-width: 480px) {
                transform: scale(.4);
            }
        }
    }

    .bottomBtnsCont {

        display: flex;
        justify-content: center;
        align-items: flex-end;        
        gap: 4rem;
        margin-top: 2.5rem;

        @media (max-width: 1300px) {
            margin-top: 2rem;
            gap: 3.2rem;
        }

        @media (max-width: 750px) {
            margin-top: 1.5rem;
            gap: 1.5rem;
        }

        @media (max-width: 480px) {
            margin-top: 1rem;
            gap: 1rem;
        }

        .pauseBtn, .stopBtn {
            width: 7.5rem;
            height: 7.5rem;
            border: 6px solid #333;
            border-radius: 50%;
            background-color: white;
            z-index: 2;
            position: relative;

            img {
                @media (max-width: 1300px) {
                    transform: scale(.8);
                } 
                
                @media (max-width: 750px) {
                    transform: scale(.6);
                }

                @media (max-width: 480px) {
                    transform: scale(.4);
                }
            }

            @media (max-width: 1300px) {
                height: 6rem;
                width: 6rem;
            }

            @media (max-width: 750px) {
                height: 4.5rem;
                width: 4.5rem;
                border: 4px solid #333;
            }

            @media (max-width: 480px) {
                height: 3rem;
                width: 3rem;
                border: 3px solid #333;
            }
            
        }

        .playBtnCont {

            position: relative;

            .playBtn {
                width: 11rem;
                height: 11rem;
                border: 6px solid #09F;
                border-radius: 50%;
                background-color: white;
                transition: 200ms cubic-bezier(0, 0, 1, 1);
                z-index: 2;
                position: relative;

                @media (max-width: 1300px) {
                    height: 8.8rem;
                    width: 8.8rem;
                }

                @media (max-width: 750px) {
                    height: 6.6rem;
                    width: 6.6rem;
                    border: 4px solid #09F;
                }

                @media (max-width: 480px) {
                    height: 4.4rem;
                    width: 4.4rem;
                    border: 3px solid #09F;
                }
    
                &:hover + .border {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);

                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:hover {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);
                    background-color: #E5F5FF;

                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:active {
                    transform: translateY(1rem);
                    transition: 150ms;

                    @media (max-width: 750px) {
                        transform: translateY(.6rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.4rem);
                    }
                    
                }
    
                img {
                    margin-left: 1rem;

                    @media (max-width: 1300px) {
                        transform: scale(.8);
                    }    

                    @media (max-width: 750px) {
                        transform: scale(.6);
                        margin-left: .6rem;
                    }

                    @media (max-width: 480px) {
                        transform: scale(.4);
                        margin-left: .3.5rem;
                    }
                }
            }

            .border {
                @include buttonBefore(#09F, 100%, 8rem, 5.6rem);

                @media (max-width: 1300px) {
                    height: 6.4rem;
                    top: 4.48rem;
                }

                @media (max-width: 750px) {
                    height: 4.8rem;
                    top: 3.36rem;
                }
                
                @media (max-width: 480px) {
                    height: 3.2rem;
                    top: 2.24rem;
                }
            }
        }


        .playBtn, .pauseBtn, .stopBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .pauseBtnCont {
            position: relative;

            .pauseBtn {
                transition: 200ms cubic-bezier(0, 0, 1, 1);
                

                &:hover + .border {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);

                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:hover {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);
                    background-color: #E6E6E6;

                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:active {
                    transform: translateY(1rem);
                    transition: 150ms;

                    @media (max-width: 750px) {
                        transform: translateY(.6rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.4rem);
                    }
                }

            }

            .border {
                @include buttonBefore(#333, 100%, 5.5rem, 4.1rem);

                @media (max-width: 1300px) {
                    height: 4.4rem;
                    top: 3.28rem;
                }

                @media (max-width: 750px) {
                    height: 3.3rem;
                    top: 2.46rem;
                }

                @media (max-width: 480px) {
                    height: 2.2rem;
                    top: 1.64rem;
                }
            }
        }


        .stopBtnCont {
            position: relative;

            .stopBtn {
                transition: 200ms cubic-bezier(0, 0, 1, 1);
                

                &:hover + .border {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);
                    
                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:hover {
                    transform: translateY(.5rem);
                    transition: 200ms cubic-bezier(0, 0, 1, 1);
                    background-color: #E6E6E6;
                    
                    @media (max-width: 750px) {
                        transform: translateY(.4rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.3rem);
                    }
                }

                &:active {
                    transform: translateY(1rem);
                    transition: 150ms;

                    @media (max-width: 750px) {
                        transform: translateY(.6rem);
                    }

                    @media (max-width: 480px) {
                        transform: translateY(.4rem);
                    }
                }

            }

            .border {
                @include buttonBefore(#333, 100%, 5.5rem, 4.1rem);

                @media (max-width: 1300px) {
                    height: 4.4rem;
                    top: 3.28rem;
                }

                @media (max-width: 750px) {
                    height: 3.3rem;
                    top: 2.46rem;
                }

                @media (max-width: 480px) {
                    height: 2.2rem;
                    top: 1.64rem;
                }
            }

    }
}

}

