.profileMenuCont {
  position: relative;

  .popup {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.profileCont {
  padding-left: 6.5rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  height: calc(100vh - 12rem);
  transition: 300ms;

  

  .border {
    width: 54.125rem;
    height: 1px;
    background-color: #ccc;
    margin-top: 1.5rem;
    
    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
    }

  }

  h3 {
    color: #333;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0;

    @media (max-width: 750px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: .8rem;
    }
  }

  .itemCont {
    width: 54.125rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
  

    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
    }

    .headlineValueCont {
      .pValue {
        font-size: 1rem;
        color: #666666;
        margin-top: .5rem;

        @media (max-width: 750px) {
          font-size: .75rem;
        }
    
        @media (max-width: 480px) {
          font-size: .55rem;
        }
      }
    }
    .changeBtn {
      height: fit-content;
      padding: .4rem 1rem;
      font-family: Poppins;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: .5rem;
      border: 1px solid #666;
      background-color: transparent;
      color: #666;
      cursor: pointer;
      transition: 300ms;

      &:hover {
        background-color: #F2F2F2;
        transition: 300ms;
      }

      @media (max-width: 750px) {
        padding: .25rem .5rem;
        font-size: 0.51rem;
      }

      @media (max-width: 480px) {
        height: 1rem;
        font-size: .34rem;
        border-radius: 0.25rem;
        right: 1.4rem;
        padding: 0 .25rem;
      }
    }

    .changeBtnBlack {
      &:hover {
        background-color: #404040;
        transition: 300ms;
      }
    }


  }


  @media (max-width: 1400px) {
    padding-left: 4.5rem;
  }

  @media (max-width: 1000px) {
    padding-left: 3rem;
  }

  @media (max-width: 480px) {
    padding-left: 2rem;
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: #0099ff white;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    border-radius: 12px;
    border: 3px solid white;
  }

  .profileHeadline {
    color: #333;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    margin: 1.5rem 0;

    @media (max-width: 1400px) {
      font-size: 2rem;
    }

    @media (max-width: 1000px) {
      font-size: 2rem;
    }

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      margin-top: 3rem;
    }
  }

  .profileInfoCont {
    width: 54.125rem;
    padding: 2.25rem 0;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 750px) {
      gap: .5rem;
      border-radius: .6rem;
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
      padding: 1rem 0;
      border-radius: .4rem;
    }

    

    img {
      margin-left: 2rem;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      // border: #09F 3px solid;

      object-fit: cover;
      aspect-ratio: 1/1;

      @media (max-width: 750px) {
        height: 3rem;
        width: 3rem;
      }

      @media (max-width: 480px) {
        height: 2rem;
        width: 2rem;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333;
      font-family: Open Sans;
      font-size: 1rem;
      font-weight: 400;
      line-height: 93.682%; /* 22.484px */
      margin: 0;

      @media (max-width: 750px) {
        font-size: .6rem;
      }

      @media (max-width: 480px) {
        font-size: .4rem;
      }
    }

    span {
      color: #09f;
      font-family: Open Sans;
      font-weight: 600;
      line-height: 93.682%;
    }

    .uploadBtn {
      position: absolute;
      right: 3.5rem;
      padding: 0 1rem;
      height: 2rem;
      background-color: #0099ff;
      border-radius: 8px;
      color: #fff;
      font-family: Poppins;
      font-size: 0.8rem;
      font-weight: 500;
      border: 0;
      cursor: pointer;
      transition: 700ms;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #66c2ff;
        transition: 400ms background-color, color;
      }

      &:active {
        transform: scale(0.95);
        transition: 150ms;
      }

      @media (max-width: 750px) {
        height: 1.35rem;
        font-size: 0.51rem;
        right: 2.1rem;
      }

      @media (max-width: 480px) {
        height: 1rem;
        font-size: .34rem;
        border-radius: 0.25rem;
        right: 1.4rem;
        padding: 0 .25rem;
      }
    }
  }

  input {
    width: 53.125rem;
    height: 51.6px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: transparent;
    margin-top: 0.25rem;

    color: #808080;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0 0 1rem;

    &:focus {
      outline: #0099ff 2px solid;
      // border: none;
    }

    @media (max-width: 1400px) {
      width: calc(100% - 5.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 4rem);
    }

    @media (max-width: 750px) {
      height: 30.96px;
      font-size: .72rem;
      border-radius: 7.2px;
    }

    @media (max-width: 480px) {
      width: calc(100% - 3rem);
      height: 20.64px;
      font-size: .48rem;
      border-radius: 4.8px;
    }
  }

  p {
    color: #333;
    font-family: Open Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    margin: 1.5rem 0 0 0;

    @media (max-width: 750px) {
      font-size: .9rem;
      margin: 1rem 0 0 0;
    }

    @media (max-width: 480px) {
      font-size: .7rem;
      margin: .75rem 0 0 0;
    }
  }

  .saveBtn {
    width: 7.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #fff;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-sizing: border-box;
    transition: 400ms background-color, color;

    border-radius: 12px;
    background: #09f;

    @media (max-width: 750px) {
      width: 4.5rem;
      height: 1.5rem;
      font-size: .6rem;
      border-radius: 7.2px;
      margin-top: 1.5rem;
    }

    @media (max-width: 480px) {
      width: 3rem;
      height: 1rem;
      font-size: .4rem;
      border-radius: 4.8px;
      margin-top: 1rem;
    }

    &:hover {
        background-color: transparent;
        color: #0099FF;
        border: solid 2px #0099FF;
        transition: 400ms background-color, color;
    }
    
    &:active {
        transform: scale(.95);
        transition: 150ms;
    }
  }

  .dropdownRoot {
    display: flex;
    .dropdownShown {
      height: 51.6px;
      padding-left: 1rem;
      width: 870px;
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #ccc;
      background: #fff;
      color: #808080;
      font-family: Poppins;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.25rem;
      cursor: pointer;

      .arrow {
        position: absolute;
        right: 1.5rem;
        transition: 250ms;
      }
      .rotate {
        transform: rotate(180deg);
        transition: 250ms;
      }
    }
  }

  .dropdownMenu {
    // padding-left: 1rem;
    width: 870px !important;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fff;
    color: #b6b6b6;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;

    @media (max-width: 1320px) {
      font-size: 0.9rem;
      width: 299.333px !important;
      margin-left: 0rem;
      margin-top: 1.5rem;
    }

    & {
      scrollbar-width: thin;
      scrollbar-color: #b8e3ff #ffffff;
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b8e3ff;
      border-radius: 12px;
      border: 3px solid #ffffff;
    }

    .Dropdown-option {
      padding: 0.5rem 1rem;
    }

    .Dropdown-title {
      padding: 0.5rem 1.5rem !important;
    }
  }

  .dropdownPlaceholder {
    color: #b6b6b6;
  }
}

.profileContOpen {
  transition: 300ms;
  -webkit-filter: blur(2px);
  filter: blur(2px);

  button, .uploadBtn {
    pointer-events: none;
  }
  user-select: none;
}
