main {
    .progressConts {
        box-sizing: border-box;
        overflow-y: auto;
        height: calc(100vh - 7rem);
        display: flex;
        position: relative;

        & {
            scrollbar-width: thin;
            scrollbar-color: #0099ff white;
          }
        
          /* Chrome, Edge, and Safari */
          &::-webkit-scrollbar {
            width: 12px;
          }
        
          &::-webkit-scrollbar-track {
            background: white;
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: #0099ff;
            border-radius: 12px;
            border: 3px solid white;
          }

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .selectPageCont, .selectTypeCont {
            display: flex;
            height: fit-content;
            width: 25%;

            @media (max-width: 1000px) {
                width: fit-content;                
            }
        }

        .selectPageCont {
            margin-left: 4rem;
            margin-top: 4rem;

            @media (max-width: 480px) {
                margin-left: 1.5rem;
                margin-top: 3.5rem;
            }

            .h2Cont {
                position: relative;
                display: flex;
                align-items: end;
                cursor: pointer;
                user-select: none;
                
                h2 {
                font-size: 2.5rem;
                margin: 0;
                color: #333;
                text-align: center;
                font-family: Poppins;
                font-weight: 700;
                line-height: normal;
                position: relative;
                
                @media (max-width: 1000px) {
                    font-size: 2rem;                
                }

                @media (max-width: 480px) {
                    font-size: 1.5rem;
                }
            }
            
            &::before {
                content: url('../assets/icons/dropdown.svg');
                display: inline-block;
                margin-bottom: .5rem;
                transform: scale(.5);
            }
            
            ul {
                position: absolute;
                top: 4rem; 
                list-style-type: none;
                padding: 0 0 0;
                margin-left: .3rem;
                margin-right: .3rem;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                font-family: Open Sans;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                z-index: 2;

                @media (max-width: 1000px) {
                    top: 2rem;                
                }

                li {
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: #999;
                    cursor: pointer;

                    &:not(.selectedLi) {
                        background-color: #FFF;
                    }

                    &:hover:not(.selectedLi) {
                        background-color: #FCFCFC;
                    }

                    &:nth-child(1){
                        border-radius: 1rem 1rem 0 0;
                        border-top: 1px solid #CCC;
                        border-left: 1px solid #CCC;
                        border-right: 1px solid #CCC;
                    }

                    &:nth-child(2){
                        border: 1px solid #CCC;
                    }

                    &:nth-child(3){
                        border-radius: 0 0 1rem 1rem;
                        border-bottom: 1px solid #CCC;
                        border-left: 1px solid #CCC;
                        border-right: 1px solid #CCC;
                    }
                }
                
                .selectedLi {
                    background-color: #0099FF;
                    color: white;
                }
            }
            
        }
            .rotate{
                &:before {
                    transition: .25s;
                    transform: rotate(180deg) scale(.5);
                }
            }  

            .goBack {
                &:before {
                    transition: .25s;
                    transform: rotate(0deg) scale(.5);
                }
            }
        }
        
        .selectTypeCont {
            margin-left: 4rem;
            margin-top: 4.75rem;
            align-items: flex-end;
            justify-content: flex-end;

            @media (max-width: 1200px) {
                order: 2;
                margin-top: 1rem;
                justify-content: flex-start;
            }

            @media (max-width: 480px) {
                margin-left: 1.5rem;
                margin-top: .5rem;
            }

            .h3Cont {
                position: relative;
                display: flex;
                align-items: end;
                cursor: pointer;
                
                h3 {
                padding-right: 4.5rem;
                font-size: 1.75rem;
                margin: 0;
                color: #333;
                text-align: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;

                @media (max-width: 1000px) {
                    font-size: 1.25rem;                
                }
                
                @media (max-width: 480px) {
                    font-size: 1rem;
                }
               
            }

            &::before {
                content: url('../assets/icons/dropdown.svg');
                display: inline-block;
                margin-bottom: .25rem;
                transform: scale(.5);
            }

            ul {
                position: absolute;
                top: 2.5rem; 
                list-style-type: none;
                padding: 0 0 0;
                margin-left: .3rem;
                margin-right: .3rem;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                font-family: Open Sans;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% - 4.5rem);
                z-index: 1;

                @media (max-width: 1000px) {
                    top: 1.5rem;
                    font-size: .75rem;                
                }

                li {
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: #999;
                    cursor: pointer;

                    @media (max-width: 1000px) {
                        height: 2rem;
                    }

                    &:not(.selectedLi) {
                        background-color: #FFF;
                    }

                    &:hover:not(.selectedLi) {
                        background-color: #FCFCFC;
                    }

                    &:nth-child(1){
                        border-radius: 1rem 1rem 0 0;
                        border-top: 1px solid #CCC;
                        border-left: 1px solid #CCC;
                        border-right: 1px solid #CCC;

                        @media (max-width: 1000px) {
                            border-radius: .75rem .75rem 0 0;
                        }
                    }

                    &:nth-child(2){
                        border-radius: 0 0 1rem 1rem;
                        border-bottom: 1px solid #CCC;
                        border-top: 1px solid #CCC;
                        border-left: 1px solid #CCC;
                        border-right: 1px solid #CCC;

                        @media (max-width: 1000px) {
                            border-radius: 0 0 .75rem .75rem;
                        }
                    }
                }
                
                .selectedLi {
                    background-color: #0099FF;
                    color: white;
                }
            }
            
        }

        .rotate{
            &:before {
                transition: .25s;
                transform: rotate(180deg) scale(.5);
            }
        }  

        .goBack {
            &:before {
                transition: .25s;
                transform: rotate(0deg) scale(.5);
            }
        }
            
        }

        .counterCont {
            // background-color: aqua;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;

            @media (max-width: 1200px) {
                order: 3;
                width: 100%;
            }

            .counter {
                height: 18rem;
                width: 18rem;
                border-radius: 100%;
                margin-top: 10rem;

                @media (max-width: 1200px) {
                    margin-top: 2rem;
                }

                @media (max-width: 1000px) {
                    height: 14rem;
                    width: 14rem;                
                }

                @media (max-width: 480px) {
                    height: 9rem;
                    width: 9rem;
                    margin-top: 5rem;
                }
                
                display: flex;
                justify-content: center;
                align-items: center;

                .counterInside {
                    height: 91%;
                    width: 91%;
                    border-radius: 100%;
                    
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Poppins;
                    font-size: 7rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media (max-width: 1000px) {
                        font-size: 5.5rem;               
                    }

                    @media (max-width: 480px) {
                        font-size: 3.5rem;
                    }
                }
            }

            h2 {
                text-align: center;
                font-family: Open Sans;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @media (max-width: 1000px) {
                    font-size: 2rem;                
                }

                @media (max-width: 480px) {
                    font-size: 1.25rem;
                }
            }
        }

        .counterYellow {
            .counter {
                background: linear-gradient(.12turn, rgba($color: #FFA800, $alpha: 1.0), rgba($color: #FFA800, $alpha: 0));
            }
            .counterInside {
                color: #FFA800;
            }
            h2 {
                color: #FFA800;
            }
        }
        .counterOrange {
            .counter {
                background: linear-gradient(.12turn, rgba($color: #FF6B00, $alpha: 1.0), rgba($color: #FF6B00, $alpha: 0));
            }
            .counterInside {
                color: #FF6B00;
            }
            h2 {
                color: #FF6B00;
            }
        }
        .counterRed {
            .counter {
                background: linear-gradient(.12turn, rgba($color: #FF2E00, $alpha: 1.0), rgba($color: #FF2E00, $alpha: 0));
            }
            .counterInside {
                color: #FF2E00;
            }
            h2 {
                color: #FF2E00;
            }
        }
        .counterPurple {
            .counter {
                background: linear-gradient(.12turn, rgba($color: #EB00FF, $alpha: 1.0), rgba($color: #EB00FF, $alpha: 0));
            }
            .counterInside {
                color: #EB00FF;
            }
            h2 {
                color: #EB00FF;
            }
        }

    } 
}

.mainBlack {
    .h2Cont {
        h2 {
            color: white !important;
        }

        &::before {
            filter: invert(100%) sepia(55%) saturate(386%) hue-rotate(218deg) brightness(120%) contrast(100%);
        }

        ul {
            li {
                &:not(.selectedLi) {
                    background-color: #333 !important;
                    color: #FFF !important;
                }

                &:hover:not(.selectedLi) {
                    background-color: rgb(77, 77, 77) !important;
                }
            }
            
        }
    }

    .h3Cont {
        h3 {
            color: white !important;
        }

        &::before {
            filter: invert(100%) sepia(55%) saturate(386%) hue-rotate(218deg) brightness(120%) contrast(100%);
        }

        ul {
            li {
                &:not(.selectedLi) {
                    background-color: #333 !important;
                    color: #FFF !important;
                }

                &:hover:not(.selectedLi) {
                    background-color: rgb(77, 77, 77) !important;
                }
            }
            
        }
    }
}