.profileMenuCont {
  position: relative;

  .popup {
    position: absolute;
    width: 75%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    border: 1px solid #ccc;
    display: flex;
    padding: 4rem 3rem;
    flex-direction: column;

    @media (min-width: 1400px) {
      width: 50rem;
    }

    @media (max-width: 750px) {
      padding: 2rem 2rem;
      border-radius: 1.5rem;
    }

    @media (max-width: 480px) {
      padding: 1.25rem 1.5rem;
      border-radius: 1rem;
    }

    input {
      width: calc(100% - 1rem);
      height: 51.6px;
      flex-shrink: 0;
      border-radius: 14px;
      border: 1px solid #ccc;
      background: transparent;
      margin-top: 0.5rem;

      color: #808080;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 500;
      padding: 0 0 0 1rem;

      &:focus {
        outline: #0099ff 2px solid;
        // border: none;
      }

      // @media (max-width: 1400px) {
      //   width: calc(100% - 5.5rem);
      // }

      // @media (max-width: 1000px) {
      //   width: calc(100% - 4rem);
      // }

      @media (max-width: 750px) {
        width: calc(100% - 0.8rem);
        height: 30.96px;
        font-size: 0.72rem;
        border-radius: 7.2px;
        padding: 0 0 0 0.75rem;
      }

      @media (max-width: 480px) {
        width: calc(100% - 0.55rem);
        height: 20.64px;
        font-size: 0.48rem;
        border-radius: 4.8px;
        padding: 0 0 0 0.5rem;
      }
    }

    p {
      color: #333;
      font-family: Open Sans;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      margin: 0 0 0 0;

      &:nth-child(3) {
        margin-top: 1rem;

        @media (max-width: 750px) {
          margin-top: 0.5rem;
        }
      }

      @media (max-width: 750px) {
        font-size: 0.9rem;
      }

      @media (max-width: 480px) {
        font-size: 0.7rem;
      }
    }

    .saveBtn {
      width: 7.5rem;
      height: 2.5rem;
      flex-shrink: 0;
      cursor: pointer;
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      color: #fff;
      font-family: Open Sans;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      box-sizing: border-box;
      transition: 400ms background-color, color;

      border-radius: 12px;
      background: #09f;

      @media (max-width: 750px) {
        width: 4.5rem;
        height: 1.5rem;
        font-size: 0.6rem;
        border-radius: 7.2px;
        margin-top: 1.5rem;
      }

      @media (max-width: 480px) {
        width: 3rem;
        height: 1rem;
        font-size: 0.4rem;
        border-radius: 4.8px;
        margin-top: 1rem;
      }

      &:hover {
        background-color: transparent;
        color: #0099ff;
        border: solid 2px #0099ff;
        transition: 400ms background-color, color;
      }

      &:active {
        transform: scale(0.95);
        transition: 150ms;
      }
    }
  }
}
.profileCont {
  padding-left: 6.5rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  height: calc(100vh - 12rem);
  transition: 300ms;

  .border {
    width: 54.125rem;
    height: 1px;
    background-color: #ccc;
    margin-top: 1.5rem;

    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
    }
  }

  h3 {
    color: #333;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0;

    @media (max-width: 750px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }

  .itemCont {
    width: 54.125rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;

    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
    }

    .headlineValueCont {
      .pValue {
        font-size: 1rem;
        color: #666666;
        margin-top: 0.5rem;

        @media (max-width: 750px) {
          font-size: 0.75rem;
        }

        @media (max-width: 480px) {
          font-size: 0.55rem;
        }
      }
    }
    .changeBtn {
      height: fit-content;
      padding: 0.4rem 1rem;
      font-family: Poppins;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 0.5rem;
      border: 1px solid #666;
      background-color: transparent;
      color: #666;
      cursor: pointer;
      transition: 300ms;

      &:hover {
        background-color: #f2f2f2;
        transition: 300ms;
      }

      @media (max-width: 750px) {
        padding: 0.25rem 0.5rem;
        font-size: 0.51rem;
      }

      @media (max-width: 480px) {
        height: 1rem;
        font-size: 0.34rem;
        border-radius: 0.25rem;
        right: 1.4rem;
        padding: 0 0.25rem;
      }
    }

    .changeBtnBlack {
      &:hover {
        background-color: #404040;
        transition: 300ms;
      }
    }
  }

  @media (max-width: 1400px) {
    padding-left: 4.5rem;
  }

  @media (max-width: 1000px) {
    padding-left: 3rem;
  }

  @media (max-width: 480px) {
    padding-left: 2rem;
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: #0099ff white;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    border-radius: 12px;
    border: 3px solid white;
  }

  .profileHeadline {
    color: #333;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    margin: 1.5rem 0;

    @media (max-width: 1400px) {
      font-size: 2rem;
    }

    @media (max-width: 1000px) {
      font-size: 2rem;
    }

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      margin-top: 3rem;
    }
  }

  .profileInfoCont {
    width: 54.125rem;
    padding: 2.25rem 0;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1400px) {
      width: calc(100% - 4.5rem);
    }

    @media (max-width: 1000px) {
      width: calc(100% - 3rem);
    }

    @media (max-width: 750px) {
      gap: 0.5rem;
      border-radius: 0.6rem;
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem);
      padding: 1rem 0;
      border-radius: 0.4rem;
    }

    img {
      margin-left: 2rem;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      // border: #09F 3px solid;

      object-fit: cover;
      aspect-ratio: 1/1;

      @media (max-width: 750px) {
        height: 3rem;
        width: 3rem;
      }

      @media (max-width: 480px) {
        height: 2rem;
        width: 2rem;
        margin-left: 1.4rem;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333;
      font-family: Open Sans;
      font-size: 1rem;
      font-weight: 400;
      line-height: 93.682%; /* 22.484px */
      margin: 0;

      @media (max-width: 750px) {
        font-size: 0.6rem;
      }

      @media (max-width: 480px) {
        font-size: 0.4rem;
      }
    }

    span {
      color: #09f;
      font-family: Open Sans;
      font-weight: 600;
      line-height: 93.682%;
    }

    .uploadBtn {
      position: absolute;
      right: 3.5rem;
      padding: 0 1rem;
      height: 2rem;
      background-color: #0099ff;
      border-radius: 8px;
      color: #fff;
      font-family: Poppins;
      font-size: 0.8rem;
      font-weight: 500;
      border: 0;
      cursor: pointer;
      transition: 700ms;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #66c2ff;
        transition: 400ms background-color, color;
      }

      &:active {
        transform: scale(0.95);
        transition: 150ms;
      }

      @media (max-width: 750px) {
        height: 1.35rem;
        font-size: 0.51rem;
        right: 2.1rem;
      }

      @media (max-width: 480px) {
        height: 1rem;
        font-size: 0.34rem;
        border-radius: 0.25rem;
        right: 1.4rem;
        padding: 0 0.25rem;
      }
    }
  }

  p {
    color: #333;
    font-family: Open Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    margin: 1.5rem 0 0 0;

    @media (max-width: 750px) {
      font-size: 0.9rem;
      margin: 1rem 0 0 0;
    }

    @media (max-width: 480px) {
      font-size: 0.7rem;
      margin: 0.75rem 0 0 0;
    }
  }

  .dropdownRoot {
    display: flex;
    .dropdownShown {
      height: 51.6px;
      padding-left: 1rem;
      width: 870px;
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #ccc;
      background: #fff;
      color: #808080;
      font-family: Poppins;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.25rem;
      cursor: pointer;

      .arrow {
        position: absolute;
        right: 1.5rem;
        transition: 250ms;
      }
      .rotate {
        transform: rotate(180deg);
        transition: 250ms;
      }
    }
  }

  .dropdownMenu {
    // padding-left: 1rem;
    width: 870px !important;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fff;
    color: #b6b6b6;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;

    @media (max-width: 1320px) {
      font-size: 0.9rem;
      width: 299.333px !important;
      margin-left: 0rem;
      margin-top: 1.5rem;
    }

    & {
      scrollbar-width: thin;
      scrollbar-color: #b8e3ff #ffffff;
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b8e3ff;
      border-radius: 12px;
      border: 3px solid #ffffff;
    }

    .Dropdown-option {
      padding: 0.5rem 1rem;
    }

    .Dropdown-title {
      padding: 0.5rem 1.5rem !important;
    }
  }

  .dropdownPlaceholder {
    color: #b6b6b6;
  }

  .logoutBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    transition: 250ms;
    width: fit-content;
    user-select: none;

    @media (max-width: 750px) {
      gap: .375rem;
      margin-top: 1rem;
    }

    @media (max-width: 480px) {
      gap: .26rem;
      margin-top: .75rem;
    }

    &:hover {
      transition: 250ms;
      cursor: pointer;
      padding-left: 0.5rem;

      @media (max-width: 750px) {
        padding-left: .375rem;
      }

      @media (max-width: 480px) {
        padding-left: .26rem;
      }
    }

    img {
      @media (max-width: 750px) {
        height: .75rem;
      }

      @media (max-width: 480px) {
        height: .55rem;
      }
    }

    .logoutP {
      margin: 0;
      color: #ff0000;
      font-weight: 400;
      font-family: Poppins;
      font-size: 1rem;
      margin-bottom: 0.1rem;

      @media (max-width: 750px) {
        font-size: .75rem;
        margin-bottom: 0;
      }

      @media (max-width: 480px) {
        font-size: .55rem;
      }
    }
  }
}

.profileValidate {

  .signUp {
    height: 40rem;
    width: 38rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));

    @media (max-width: 1320px) {
      height: 30rem;
      width: 29rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 750px) {
      width: 20rem;
    }

    @media (max-width: 550px) {
      width: 100%;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
    }

    h2 {
      color: #333;
      font-family: Poppins;
      font-size: 2rem;
      margin-left: 2.75rem;
      font-weight: 500;
      margin-top: 2rem;
      margin-bottom: 0;

      @media (max-width: 1320px) {
        font-size: 1.5rem;
        margin-left: 0rem;
      }

      @media (max-width: 750px) {
        font-size: 1rem;
       }
    }

    p {
      color: #333;
      font-family: Poppins;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 4.25rem;
      margin-bottom: 0;

      &:nth-child(2) {
        margin-top: 1.5rem;

        @media (max-width: 1320px) {
          margin-top: 0rem;
        }
      }
      
    }

    .inputH {
      @media (max-width: 1320px) {
        display: none;
      }
    }

    .err {
      margin-left: 0;
      margin-right: 2.4rem;
      text-align: center;
      @media (max-width: 1320px) {
        font-size: 1rem;
        margin-left: 3rem;
      }
    }

    input {
      border-radius: 12px;
      border: 1px solid #ccc;
      background: #fff;
      width: 25rem;
      height: 3rem;
      margin-left: 4.75rem;

      color: #808080;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 500;
      padding-left: 1rem;

      &:focus {
        outline: #0099ff 2px solid;
        // border: none;
      }

      @media (max-width: 1320px) {
        font-size: 0.9rem;
        height: 2.5rem;
        width: 17.5rem;
        margin-left: 0rem;
        margin-top: 1.5rem;
      }
      
      @media (max-width: 750px) {
        margin-top: 1rem;
      }

    }

    button {
      width: 26.25rem;
      height: 3rem;
      background-color: #0099ff;
      border-radius: 12px;
      color: #fff;
      font-family: Poppins;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 4.75rem;
      border: 0;
      margin-top: 2rem;
      cursor: pointer;
      transition: 700ms;

      
      &:hover {
        background-color: white;
        color: #0099ff;
        border: solid 2px #0099ff;
        transition: 400ms background-color, color;
      }

      &:active {
        transform: scale(0.95);
        transition: 150ms;
      }
      
      @media (max-width: 1320px) {
        font-size: 0.9rem;
        height: 2.5rem;
        width: 18.75rem;
        margin-left: 0rem;
        margin-top: 1.5rem;
      }
      @media (max-width: 750px) {
        width: 10rem;
        border-radius: 8px;
        height: 2rem;
        font-size: .75rem;
      }

    }
    
    .signInB {
      background-color: white;
      color: #0099ff;
      border: solid 2px #0099ff;
      transition: 700ms background-color, color ease-out;

      &:hover {
        background-color: #09f;
        color: white;
        border: none;
        transition: 400ms background-color, color ease-in;
      }
    }

    .dropdownRoot {
      display: flex;
      .dropdownShown {
        height: 51.6px;
        padding-left: 1rem;
        width: 419.6px;
        margin-left: 4.75rem;
        display: flex;
        align-items: center;
        border-radius: 12px;
        border: 1px solid #ccc;
        background: #fff;
        color: #808080;
        font-family: Poppins;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;

        @media (max-width: 1320px) {
          font-size: 0.9rem;
          height: 43.3333px;
          width: 299.333px;
          margin-left: 0rem;
          margin-top: 1.5rem;
        }

        .arrow {
          position: absolute;
          right: 1.5rem;
          transition: 250ms;
        }
        margin-top: -0.125rem;
        .rotate {
          transform: rotate(180deg);
          transition: 250ms;
        }
      }
    }

    .dropdownMenu {
      // padding-left: 1rem;
      width: 419.6px !important;
      margin-left: 4.75rem;
      border-radius: 12px;
      border: 1px solid #ccc;
      background: #fff;
      color: #b6b6b6;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 500;

      @media (max-width: 1320px) {
        font-size: 0.9rem;
        width: 299.333px !important;
        margin-left: 0rem;
        margin-top: 1.5rem;
      }

      & {
        scrollbar-width: thin;
        scrollbar-color: #b8e3ff #ffffff;
      }

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #b8e3ff;
        border-radius: 12px;
        border: 3px solid #ffffff;
      }

      .Dropdown-option {
        padding: 0.5rem 1rem;
      }

      .Dropdown-title {
        padding: 0.5rem 1.5rem !important;
      }
    }

    .dropdownPlaceholder {
      color: #b6b6b6;
    }
  }
  
  h2 {
    margin-left: 0 !important;
    text-align: center;
  }

  .signUp {
    height: auto !important;
  }

  button {
    margin-bottom: 4rem;
    margin-left: auto !important;
    margin-right: auto;
    margin-top: 3.5rem !important;
    display: table;

    @media (max-width: 1320px) {
    margin-bottom: 3rem;
    margin-top: 2rem !important;
    }

    @media (max-width: 750px) {
      margin-top: 1rem !important;
      margin-bottom: 2rem !important;
    }

  }

  .err {
    width: 100%;
    margin-bottom: 1rem;
  }

  .authCodeCont {

    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @media (max-width: 1320px) {
      margin-top: 0;
    }
    
    input {
      &:nth-child(1) {
        margin-left: 0 !important;
      }
      width: 3rem !important;
      height: auto !important;
      border-radius: 0 !important;
      padding-left: 0 !important;
      text-align: center;
      margin-left: 1rem !important;
      border: none !important;
      outline: none !important;
      font-size: 2.5rem;
      color: #66C2FF;
      box-sizing: border-box;

      @media (max-width: 1320px) {
        width: 2rem !important;
      }

      @media (max-width: 750px) {
        font-size: 1.5rem;  
        width: 1rem !important;
        margin-left: .75rem !important;
      }
      
    }

  }

  .bottomCodeDivs {

    display: flex;
    justify-content: center;
    margin-top: 0rem;
    position: relative;
    top: -.5rem;

    div {

      &:nth-child(1) {
        margin-left: 0;
      }

      width: 3rem;
      height: .25rem;
      border-radius: 2px;
      padding-left: 0;
      text-align: center;
      margin-left: 1rem;
      border: none;
      outline: none;
      background-color: #66C2FF;
      
      @media (max-width: 1320px) {
        width: 2rem;
      }

      @media (max-width: 750px) {
       width: 1rem; 
       margin-left: .75rem;
       height: .175rem;
      }
    }
  }

}

.profileContOpen {
  transition: 300ms;
  -webkit-filter: blur(2px);
  filter: blur(2px);

  button,
  .uploadBtn {
    pointer-events: none;
  }
  user-select: none;
}
