main {
  .todoConts {
    box-sizing: border-box;
    padding-bottom: 3rem;

    .topCont {
      display: flex;
      align-items: center;
      margin-left: 4rem;
      gap: 30%;
      height: 2.5rem;
      margin-top: 2.8rem;

      .ctaGroupTodo {
        margin-bottom: 0.2rem;
        
      }

      .dayTimeCont {
        display: flex;
        align-items: flex-end;
        gap: 0.7rem;

        h4 {
            margin: 0 0 0.2rem 0;
            color: #666;
            font-family: Open Sans;
            font-size: 1rem;
            font-weight: 400;
            line-height: 93.682%; /* 1.40525rem */
        }

        .h2Cont {
          position: relative;
          display: flex;
          align-items: end;
          cursor: pointer;
          user-select: none;

          h2 {
            font-size: 2rem;
            margin: 0;
            color: #333;
            text-align: center;
            font-family: Poppins;
            line-height: normal;
            position: relative;
            color: #333;
            font-weight: 600;
            line-height: 93.682%; /* 2.81044rem */

            @media (max-width: 1000px) {
              font-size: 2rem;
            }

            @media (max-width: 480px) {
              font-size: 1.5rem;
            }
          }

          &::before {
            content: url("../assets/icons/dropdown.svg");
            display: inline-block;
            transform: scale(0.5);
          }

          ul {
            position: absolute;
            top: 4rem;
            list-style-type: none;
            padding: 0 0 0;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            font-family: Open Sans;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            z-index: 2;

            @media (max-width: 1000px) {
              top: 2rem;
            }

            li {
              height: 2.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              color: #999;
              cursor: pointer;

              &:not(.selectedLi) {
                background-color: #fff;
              }

              &:hover:not(.selectedLi) {
                background-color: #fcfcfc;
              }

              &:nth-child(1) {
                border-radius: 1rem 1rem 0 0;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
              }

              &:nth-child(2) {
                border: 1px solid #ccc;
              }

              &:nth-child(3) {
                border-radius: 0 0 1rem 1rem;
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
              }
            }
          }

          .selectedLi {
            background-color: #0099ff;
            color: white;
          }
        }
        .rotate {
          &:before {
            transition: 0.25s;
            transform: rotate(180deg) scale(0.5);
          }
        }
  
        .goBack {
          &:before {
            transition: 0.25s;
            transform: rotate(0deg) scale(0.5);
          }
        }
      }
    }

    .ctaCont {
      height: 100%;
    }

    .ctaGroupTodo {
        margin-bottom: 0.2rem;
        color: #CCC;
        font-family: Open Sans;
        font-size: 1rem;
        font-weight: 600;
        line-height: 93.682%;
        width: fit-content;
        user-select: none;
        
        display: flex;
        align-items: center;
        gap: .5rem;
        height: 100%;
        padding-right: .5rem;
        transition: 250ms;
        border-radius: .75rem;
        margin-top: 0;

        &::before {
          background-image: url(../assets/icons/BluePlus.svg);
          background-repeat: no-repeat;
          background-size: 1rem;
          display: inline-block;
          width: 1rem; 
          height: 1rem;
          content:"";
        }

        &:hover {
          background-color: rgb(234, 247, 255);
          transition: 250ms;
          cursor: pointer;
          padding-left: .5rem;
          color: #ADADAD;
        }

        &:active {
          transform: scale(.95);
          transition: 250ms;
        }

        
      }

      .leftCtaGroupTodo {
        font-weight: 400;
        &:nth-child(2) {
          margin-top: 2rem;
          margin-left: 5.5rem;
        }
        &:nth-child(4) {
          margin-top: 0;
        }
        height: 2.5rem;
        
      }

      .groupHeadline {
        color: #FF3D00;
        font-family: Poppins;
        font-size: 2rem;
        line-height: 93.682%; /* 2.34206rem */
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &:not(:nth-child(1)) {
          margin-top: 3rem;
        }
      }

      .groupCont {
        padding-left: 5.5rem;
      }

      .createToDo {
        width: 70%;
        height: 15rem;
        border-radius: 1.5rem;
        border: 1px solid #CCC;
        position: absolute;
        background-color: #FFF;
        z-index: 1;

        .topInputCont {
          padding-top: 2.75rem;
          display: flex;
          flex-direction: column;
          position: relative;
          input {
            border: none;
            width: fit-content;
            outline: none;
            background: transparent;
          }

          .imgAndInputCont {
            margin-left: 2.45rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
            
            .headline {
              color: #a7a7a7;
              font-family: Poppins;
              font-size: 1.2rem;
              font-weight: 500;
              min-width: 8rem;
              max-width: 30rem;
            }
            img {
              height: 1.25rem;
              width: 1.25rem;
              cursor: pointer;
            }
          }
          
          .shortDesc {
            color: #a7a7a7;
            font-family: Poppins;
            font-size: .8rem;
            font-weight: 500;
            margin-top: .8rem;
            margin-left: 4rem;
            min-width: 7rem;
            max-width: 30rem;
          }

          .chrome-picker {
            position: absolute;
            z-index: 3;
            left: 15rem;
            font-family: Open Sans;

            .flexbox-fix {
              #rc-editable-input-2, label {
                font-family: Open Sans;
              }
            }
          }

          .palletteOpen {
            display: block;
          }

          .palletteClose {
            display: none;
          }
          
        }
        .bottomBtnCont {
          width: 100%;
          display: flex;
          margin-top: 5rem;
          height: fit-content;
          justify-content: space-between;
          position: relative;

          .prioBtn {
            padding: 0 2.25rem 0 2.25rem;
            height: 2.1rem;
            border-radius: 0.75rem;
            border: 1px solid #CCC;
            box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);    
            color: #a7a7a7;
            font-family: Open Sans;
            font-size: .8rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: 2.75rem;
            cursor: pointer;
            transition: color 600ms;
            z-index: 2;

            &::after {
              content: '';
              background-color: #FFD600;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 0;
              border-radius: 0.7rem;
              z-index: -1;
              transition: height 500ms ease, transform 300ms;
              overflow: hidden;
            }
            
            &:hover::after {
              height: 100%;
              transition: 500ms ease;
            }

            &:hover {
              color: #FFF;
              transition: 600ms;
            }

            &:active {
              transform: translateY(.25rem);
              transition: transform 300ms;
            }

            &::before {
              content: '';
              background-image: url(../assets/icons/PriorityLightningDef.svg);
              height: 1.2rem;
              width: .8rem;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              left: 1rem;
            }
            
            &:hover::before {
              filter: brightness(0) invert(1)
            }
          }

          .lightPrio1::before {
            filter: brightness(0) invert(17%) sepia(93%) saturate(6497%) hue-rotate(1deg) contrast(119%);
          }
          .lightPrio2::before {
            filter: brightness(0) invert(40%) sepia(26%) saturate(7113%) hue-rotate(119deg) contrast(101%);
          }
          .lightPrio3::before {
            filter: brightness(0) invert(41%) sepia(17%) saturate(6726%) hue-rotate(184deg) contrast(102%);
          }
          .lightPrio4::before {
            filter: brightness(0) invert(41%) sepia(6%) saturate(2%) hue-rotate(315deg) contrast(84%);
          }

          .rightBtnCont {
            display: flex;
            margin-right: 2.75rem;
            gap: 1.5rem;

            .closeBtn {
              padding: 0 1.5rem 0 1.5rem;
              height: 2.1rem;
              border-radius: 0.75rem;
              border: 1px solid #CCC;
              box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);    
              color: #a7a7a7;
              font-family: Open Sans;
              font-size: .8rem;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              position: relative;
              transition: color 600ms, transform 300ms;
              z-index: 2;

              &::before {
                content: '';
                background-color: #FF6767;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 100%;
                border-radius: 0.7rem;
                z-index: -1;
                transition: top 500ms ease;
                overflow: hidden;
              }
              
              &:hover::before {
                top: 0;
                transition: 500ms ease;
              }
              
              &:hover {
                color: #FFF;
                transition: 600ms;
              }

              &:active {
                transform: translateY(.25rem);
                transition: transform 300ms;
              }
            }

            .submitBtn {
              padding: 0 1.5rem 0 1.5rem;
              height: 2.1rem;
              border-radius: 0.75rem;
              box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);    
              color: #a7a7a7;
              font-family: Open Sans;
              font-size: .8rem;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #09F;
              color: #FFF;
              box-sizing: border-box;
              cursor: pointer;
              transition: background-color 400ms, color 400ms, border-color 400ms, transform 300ms;

              &:hover {
                border: #09F solid 2px;
                background-color: transparent;
                color: #09F;
                transition: background-color 400ms, color 400ms, border-color 400ms;
                padding: 0 1.4rem 0 1.4rem;
              }

              &:active {
                transform: translateY(.25rem);
                transition: transform 300ms;
              }
            }
            
          }

        }

        .prioDropdown {
          width: 117.4px;
          border-radius: 0.75rem;
          border: 1px solid #CCC;
          background: #FFF;
          box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
          position: absolute;
          padding: 0;
          margin-left: 2.75rem;
          display: flex;
          flex-direction: column;
          top: 2rem;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.15rem;
            position: relative;
            color: #999;
            font-family: Open Sans;
            font-size: .8rem;
            font-weight: 600;
            cursor: pointer;
            transition: color 600ms;
            z-index: 2;
            background-color: #FFF;

            &::after {
              content: '';
              background-color: #FFD600;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 0;
              z-index: -1;
              transition: height 500ms ease, transform 300ms;
              overflow: hidden;
            }

            &:hover::after {
              height: 100%;
              transition: 500ms ease;
            }

            &:hover {
              color: #FFF;
              transition: 600ms;
            }

            &:hover img {
              filter: brightness(0) invert(1)
            }

            &:not(:nth-child(4)) {
              border-bottom: 1px #CCC solid;
            }

            &:nth-child(1) {
              border-radius: .75rem .75rem 0 0;
            }

            &:nth-child(1)::after {
              border-radius: .75rem .75rem 0 0;
            }

            &:nth-child(4) {
              border-radius: 0 0 .75rem .75rem;
            }

            &:nth-child(4)::after {
              border-radius: 0 0 .75rem .75rem;
            }


            img {
              height: 1.2rem;
              width: 0.8rem;
              position: absolute;
              left: 1rem;
            }

            p {
              margin-left: .65rem;
            }
          }
        }
        
      }

      .createGroup {
        width: auto;
        height: auto;
        padding-bottom: 1rem;

        .topInputCont {
          padding-top: 2rem;
        }

        .bottomBtnCont {
          margin-top: 2rem;
        }

        .rightBtnCont {
          width: 100%;
          justify-content: end;
          margin-left: 2.45rem;
          margin-right: 2.45rem;
        }
      }
      
      .toDoListItemsCont {
        user-select: none;
        position: relative;
        
        .toDoListItem {
          display: flex;
          align-items: center;
          width: 70%;
          border-bottom: solid 1px #CCC;
          height: 3rem;
          justify-content: space-between;
          
          .btnAndTextCont {
            display: flex;
            align-items: center;
            height: 100%;
            gap: .5rem;
            
            .priorityCircle {
              height: 1.25rem;
              width: 1.25rem;
              border-radius: 100%;
              box-sizing: border-box;
              transition: 250ms;
              cursor: pointer;

              &:hover {
                transition: 125ms;
                transform: scale(1.05);
              }

              &:active {
                transform: scale(.95);
                transition: 125ms;
              }
            }

            .prio4 {
              &:hover {
                background-color: #F2F2F2;
              }
            }
            .prio3 {
              &:hover {
                background-color: #CCEBFF !important;
              }
            }
            .prio2 {
              &:hover {
                background-color: #CCFFDA !important;
              }
            }
            .prio1 {
              &:hover {
                background-color: #FFCCCC !important;
              }
            }

            p {
              color: #333;
              font-family: Open Sans;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: 93.682%; /* 22.484px */
              margin: 0;
            }
          }
          
          .rightBtnsCont {
            display: flex;
            align-items: center;
            padding-right: .5rem;
            gap: .5rem;

            img {
              cursor: pointer;
              transition: 125ms;
              &:hover {
                transition: 200ms;
                transform: scale(1.05);
              }

              &:active {
                transition: 200ms;
                transform: scale(.95);
              }
            }
          }
        }
      }
  }
}
