.tMenu {
    position: fixed;
    left: 24rem;
    width: calc(100% - 24rem);
    height: 7rem;
    border-bottom: 2px solid rgba(51, 51, 51, 0.09);
    border-left: 2px solid rgba(51, 51, 51, 0.09);
    display: flex;
    z-index: 3;
    background-color: #FFF;

    @media (max-width: 1000px) {
        width: calc(100% - 8rem);
        left: 8rem;
    }

    @media (max-width: 480px) {
        width: calc(100% - 4rem);
        left: 4rem;
        height: 4rem;
    }

    .langCont {
        height: 100%;
        width: fit-content;
        display: flex;
        padding-left: 3rem;
        align-items: center;

        @media (max-width: 750px) {
            padding-left: 1rem;
        }

        .langSwitch {
            width: 4rem;
            height: 2rem;
            border-radius: 2rem;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-family: Open Sans;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: 200ms;
            user-select: none;

            @media (max-width: 480px) {
                width: 3rem;
                height: 1.5rem;
                font-size: .75rem;
            }

            &:hover {
                background: #09F;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }

    .profCont {
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4rem;
        padding-right: 4rem;

        @media (max-width: 750px) {
            padding-right: 0;
            gap: 2rem;
        }

        .dark-lightSwitch {
            width: 4rem;
            height: 2rem;
            border-radius: 2rem;
            background: #66C2FF;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 300ms;

            @media (max-width: 480px) {
                width: 3rem;
                height: 1.5rem;
            }
            

            img {
                height: 1.75rem;
                padding-left: .5rem;
                transition: 500ms;

                @media (max-width: 480px) {
                    height: 1rem;
                    padding-left: .3rem;
                }
            }

        }
        
        .profile {
            display: flex;
            gap: 1rem;
            cursor: pointer;
            align-items: center;
            
            img {
                height: 3rem;
                width: 3rem;
                border-radius: 50%;

                object-fit: cover;
                aspect-ratio: 1/1;

                @media (max-width: 750px) {
                    display: none;
                }
            }

            p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #333;
                font-family: Open Sans;
                font-size: 1rem;
                font-weight: 400;
                line-height: 93.682%; /* 22.484px */

                @media (max-width: 750px) {
                    display: none;
                }
            }

            span {
                color: #09F;
                font-family: Open Sans;
                font-weight: 600;
                line-height: 93.682%;
            }
        }
    }

    .bellCont {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem;

        @media (max-width: 750px) {
            padding-right: 1rem;
        }

        .notificImg {
            height: 2rem;
            transition: 300ms;
            user-select: none;
            cursor: pointer;
            position: relative;
            
            @media (max-width: 480px) {
                height: 1.5rem;
            }

            &:active {
                transform: scale(.95);
            }
        }

        .bellPopup {
            position: absolute;
            width: 20rem;
            height: 20rem;
            background-color: #FFF;
            border-bottom: solid 2px rgba(51, 51, 51, 0.09);
            border-left: solid 2px rgba(51, 51, 51, 0.09);
            border-right: solid 2px rgba(51, 51, 51, 0.09);
            top: 7.1rem;
            right: 0.2rem;
            border-radius: 1rem;
            display: flex;
            // align-items: center;
            // justify-content: center;
            flex-direction: column;
            overflow-y: auto;

            & {
                scrollbar-width: thin;
                scrollbar-color: rgba(#0099FF, 0.3) #ffffff;
              }
            
              /* Chrome, Edge, and Safari */
              &::-webkit-scrollbar {
                width: 16px;
              }
            
              &::-webkit-scrollbar-track {
                background: #ffffff;
              }
            
              &::-webkit-scrollbar-thumb {
                background-color: rgb(234, 247, 255);
                border-radius: 10px;
                border: 3px solid #ffffff;
              }

              &:has(> :nth-child(4)) {

                .row {

                    &:last-child {
                        border-radius: 0 0 1rem 1rem;
                        // background-color: #0099FF;
                        border: none;
                    }
                }
            }

            .row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .25rem;
                min-height: 5rem;
                width: 100%;
                border-bottom: solid 2px rgba(51, 51, 51, 0.09);

                @media (max-width: 480px) {
                    min-height: 3rem;
                    gap: .15rem;
                }

                &:nth-child(1) {
                    border-radius: 1rem 1rem 0 0;

                }
                
                &:nth-child(2) {
                    border-radius: none;
                }
                
                &:nth-child(3) {
                    border-radius: none;
                }
                
                
                .topCont {
                    margin: 0 .5rem 0 1.5rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    @media (max-width: 480px) {
                        margin: 0 .3rem 0 .9rem;
                        gap: .6rem;
                    }

                    .imgPage {
                        width: 2rem;
                        height: 2rem;

                        @media (max-width: 480px) {
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                    }

                    .rightCont {

                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        width: 100%;
                        justify-content: space-between;

                        .pInfo {
                            font-size: .9rem;
                            line-height: 1.2rem;

                            @media (max-width: 480px) {
                                font-size: .54rem;
                                line-height: 0.72rem;
                            }
                        }

                        .imgBin {
                            height: 1.25rem;

                            &:hover {
                                cursor: pointer;
                                transition: 200ms;
                                transform: scale(1.05);
                              }
                    
                              &:active {
                                transition: 200ms;
                                transform: scale(.95);
                              }

                            @media (max-width: 480px) {
                                height: .75rem;
                            }
                        }
                    }
                }


                    

                    

                    .pTime {
                        font-size: .5rem;
                        margin-left: 4.5rem;

                        @media (max-width: 480px) {
                            font-size: .3rem;
                            margin-left: 2.7rem;
                        }
                    }

                    .notificSpan {
                        color: #4d4d4d;
                    }

                    
                
            }

            .rowBlack {
                border-bottom: 2px solid rgba(255, 255, 255, 0.22);

                .notificSpan {
                    color: white;
                }
            }

            @media (max-width: 480px) {
                width: 12rem;
                height: 12rem;
                top: 4.1rem;
            }

            img {
                height: 4rem;

                @media (max-width: 480px) {
                    height: 3rem;
                }
            }

            p {
                font-family: 'Poppins';
                font-size: 1.5rem;
                margin: 0;
                color: #999;

                @media (max-width: 480px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.noNotific {
    height: 100%;
}

.tBlack {
    background-color: #333;
    border-bottom: 2px solid rgba(255, 255, 255, 0.22);
    border-left: 2px solid rgba(255, 255, 255, 0.22);

    .langCont {
        .langSwitch {
            background-color: #FFF;
            color: #333;
        }
    }

    .profCont {

        .profile {
            
            p {
                color: #FFF;
            }
        }
    }
    
}