.tMenu {
    position: fixed;
    left: 24rem;
    width: calc(100% - 24rem);
    height: 7rem;
    border-bottom: 2px solid rgba(51, 51, 51, 0.09);
    border-left: 2px solid rgba(51, 51, 51, 0.09);
    display: flex;
    z-index: 2;
    background-color: #FFF;

    @media (max-width: 1000px) {
        width: calc(100% - 8rem);
        left: 8rem;
    }

    @media (max-width: 480px) {
        width: calc(100% - 4rem);
        left: 4rem;
        height: 4rem;
    }

    .langCont {
        height: 100%;
        width: fit-content;
        display: flex;
        padding-left: 3rem;
        align-items: center;

        @media (max-width: 750px) {
            padding-left: 1rem;
        }

        .langSwitch {
            width: 4rem;
            height: 2rem;
            border-radius: 2rem;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-family: Open Sans;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: 200ms;
            user-select: none;

            @media (max-width: 480px) {
                width: 3rem;
                height: 1.5rem;
                font-size: .75rem;
            }

            &:hover {
                background: #09F;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }

    .profCont {
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4rem;
        padding-right: 4rem;

        @media (max-width: 750px) {
            padding-right: 0;
            gap: 2rem;
        }

        .dark-lightSwitch {
            width: 4rem;
            height: 2rem;
            border-radius: 2rem;
            background: #66C2FF;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 300ms;

            @media (max-width: 480px) {
                width: 3rem;
                height: 1.5rem;
            }
            

            img {
                height: 1.75rem;
                padding-left: .5rem;
                transition: 500ms;

                @media (max-width: 480px) {
                    height: 1rem;
                    padding-left: .3rem;
                }
            }

        }
        
        .profile {
            display: flex;
            gap: 1.5rem;
            
            img {
                height: 5rem;

                @media (max-width: 750px) {
                    display: none;
                }
            }

            p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #333;
                font-family: Open Sans;
                font-size: 1rem;
                font-weight: 400;
                line-height: 93.682%; /* 22.484px */

                @media (max-width: 750px) {
                    display: none;
                }
            }

            span {
                color: #09F;
                font-family: Open Sans;
                font-weight: 600;
                line-height: 93.682%;
            }
        }
    }

    .bellCont {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem;

        @media (max-width: 750px) {
            padding-right: 1rem;
        }

        img {
            height: 2rem;
            transition: 300ms;
            user-select: none;
            cursor: pointer;
            
            @media (max-width: 480px) {
                height: 1.5rem;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }
}

.tBlack {
    background-color: #333;
    border-bottom: 2px solid rgba(255, 255, 255, 0.22);
    border-left: 2px solid rgba(255, 255, 255, 0.22);

    .langCont {
        .langSwitch {
            background-color: #FFF;
            color: #333;
        }
    }

    .profCont {

        .profile {
            
            p {
                color: #FFF;
            }
        }
    }
    
}