.lMenu {
  height: 100vh;
  height: 100dvh;
  width: 24rem;
  border-right: 2px solid rgba(51, 51, 51, 0.09);
  position: fixed;
}
@media (max-width: 1000px) {
  .lMenu {
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .lMenu {
    width: 4rem;
  }
}
.lMenu .fullHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #09F;
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .lMenu .fullHeading {
    display: none;
  }
}
.lMenu .fullHeading .blackSpan {
  color: #333;
  position: relative;
}
.lMenu .fullHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
.lMenu .shortHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #09F;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 1000px) {
  .lMenu .shortHeading {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .lMenu .shortHeading {
    font-size: 2.5rem;
  }
}
.lMenu .shortHeading .blackSpan {
  color: #333;
  position: relative;
}
.lMenu .shortHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
@media (max-width: 480px) {
  .lMenu .shortHeading .blackSpan .underline {
    top: 3rem;
  }
}
.lMenu .nameCont {
  padding-top: 4rem;
  padding-left: 5rem;
}
@media (max-width: 1000px) {
  .lMenu .nameCont {
    padding-left: 0;
  }
}
.lMenu .itemsCont {
  padding-left: 0;
  margin-top: 4.25rem;
  width: 100%;
}
.lMenu .itemsCont img {
  width: 2.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont img {
    width: 2rem;
  }
}
@media (max-width: 750px) {
  .lMenu .itemsCont .profilePic {
    display: none;
  }
}
.lMenu .itemsCont .honzak {
  display: none;
}
@media (max-width: 750px) {
  .lMenu .itemsCont .honzak {
    display: block;
  }
}
.lMenu .itemsCont li {
  padding-left: 5rem;
  width: calc(98% - 5rem);
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li {
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
}
.lMenu .itemsCont li p {
  padding-left: 1rem;
  color: #333;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li p {
    display: none;
  }
}
.lMenu .itemsCont li:hover {
  background-color: #f4f4f4;
  background-color: rgb(234, 247, 255);
  cursor: pointer;
}
.lMenu .itemsCont li:not(:first-child) {
  margin-top: 0.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont li:not(:first-child) {
    margin-top: 0rem;
  }
}
.lMenu .itemsCont li:active {
  transform: scale(0.95);
}
.lMenu .itemsCont .selected p {
  color: #09F;
  font-weight: 700;
}

.tMenu {
  position: fixed;
  left: 24rem;
  width: calc(100% - 24rem);
  height: 7rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.09);
  display: flex;
}
@media (max-width: 1000px) {
  .tMenu {
    width: calc(100% - 8rem);
    left: 8rem;
  }
}
@media (max-width: 480px) {
  .tMenu {
    width: calc(100% - 4rem);
    left: 4rem;
    height: 4rem;
  }
}
.tMenu .langCont {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
@media (max-width: 750px) {
  .tMenu .langCont {
    padding-left: 1rem;
  }
}
.tMenu .langCont .langSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 480px) {
  .tMenu .langCont .langSwitch {
    width: 3rem;
    height: 1.5rem;
    font-size: 0.75rem;
  }
}
.tMenu .langCont .langSwitch:hover {
  background: #09F;
}
.tMenu .langCont .langSwitch:active {
  transform: scale(0.95);
}
.tMenu .profCont {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 4rem;
}
@media (max-width: 750px) {
  .tMenu .profCont {
    padding-right: 0;
    gap: 2rem;
  }
}
.tMenu .profCont .dark-lightSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #66C2FF;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch {
    width: 3rem;
    height: 1.5rem;
  }
}
.tMenu .profCont .dark-lightSwitch img {
  height: 1.75rem;
  padding-left: 0.5rem;
  transition: 500ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch img {
    height: 1rem;
    padding-left: 0.3rem;
  }
}
.tMenu .profCont .profile {
  display: flex;
  gap: 1.5rem;
}
.tMenu .profCont .profile img {
  height: 5rem;
}
@media (max-width: 750px) {
  .tMenu .profCont .profile img {
    display: none;
  }
}
.tMenu .profCont .profile p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 93.682%; /* 22.484px */
}
@media (max-width: 750px) {
  .tMenu .profCont .profile p {
    display: none;
  }
}
.tMenu .profCont .profile span {
  color: #09F;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 93.682%;
}
.tMenu .bellCont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
}
@media (max-width: 750px) {
  .tMenu .bellCont {
    padding-right: 1rem;
  }
}
.tMenu .bellCont img {
  height: 2rem;
  transition: 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 480px) {
  .tMenu .bellCont img {
    height: 1.5rem;
  }
}
.tMenu .bellCont img:active {
  transform: scale(0.95);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}/*# sourceMappingURL=styles.css.map */