.lMenu {
  height: 100vh;
  height: 100dvh;
  width: 24rem;
  border-right: 2px solid rgba(51, 51, 51, 0.09);
  position: fixed;
}
@media (max-width: 1000px) {
  .lMenu {
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .lMenu {
    width: 4rem;
  }
}
.lMenu .fullHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #09F;
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .lMenu .fullHeading {
    display: none;
  }
}
.lMenu .fullHeading .blackSpan {
  color: #333;
  position: relative;
}
.lMenu .fullHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
.lMenu .shortHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #09F;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 1000px) {
  .lMenu .shortHeading {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .lMenu .shortHeading {
    font-size: 2.5rem;
  }
}
.lMenu .shortHeading .blackSpan {
  color: #333;
  position: relative;
}
.lMenu .shortHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
@media (max-width: 480px) {
  .lMenu .shortHeading .blackSpan .underline {
    top: 3rem;
  }
}
.lMenu .nameCont {
  padding-top: 4rem;
  padding-left: 5rem;
}
@media (max-width: 1000px) {
  .lMenu .nameCont {
    padding-left: 0;
  }
}
.lMenu .itemsCont {
  padding-left: 0;
  margin-top: 4.25rem;
  width: 100%;
}
.lMenu .itemsCont img {
  width: 2.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont img {
    width: 2rem;
  }
}
@media (max-width: 750px) {
  .lMenu .itemsCont .profilePic {
    display: none;
  }
}
.lMenu .itemsCont .honzak {
  display: none;
}
@media (max-width: 750px) {
  .lMenu .itemsCont .honzak {
    display: block;
  }
}
.lMenu .itemsCont li {
  padding-left: 5rem;
  width: calc(98% - 5rem);
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li {
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
}
.lMenu .itemsCont li p {
  padding-left: 1rem;
  color: #333;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li p {
    display: none;
  }
}
.lMenu .itemsCont li:hover {
  background-color: #f4f4f4;
  background-color: rgb(234, 247, 255);
  cursor: pointer;
}
.lMenu .itemsCont li:not(:first-child) {
  margin-top: 0.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont li:not(:first-child) {
    margin-top: 0rem;
  }
}
.lMenu .itemsCont li:active {
  transform: scale(0.95);
}

.lBlack {
  background-color: #333;
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  z-index: 1;
}
.lBlack .fullHeading .blackSpan {
  color: white;
}
.lBlack .shortHeading .blackSpan {
  color: white;
}
.lBlack .itemsCont li p {
  color: white;
}
.lBlack .itemsCont li:hover {
  background-color: rgba(244, 244, 244, 0.1);
}

.tMenu {
  position: fixed;
  left: 24rem;
  width: calc(100% - 24rem);
  height: 7rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.09);
  display: flex;
}
@media (max-width: 1000px) {
  .tMenu {
    width: calc(100% - 8rem);
    left: 8rem;
  }
}
@media (max-width: 480px) {
  .tMenu {
    width: calc(100% - 4rem);
    left: 4rem;
    height: 4rem;
  }
}
.tMenu .langCont {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
@media (max-width: 750px) {
  .tMenu .langCont {
    padding-left: 1rem;
  }
}
.tMenu .langCont .langSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 480px) {
  .tMenu .langCont .langSwitch {
    width: 3rem;
    height: 1.5rem;
    font-size: 0.75rem;
  }
}
.tMenu .langCont .langSwitch:hover {
  background: #09F;
}
.tMenu .langCont .langSwitch:active {
  transform: scale(0.95);
}
.tMenu .profCont {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 4rem;
}
@media (max-width: 750px) {
  .tMenu .profCont {
    padding-right: 0;
    gap: 2rem;
  }
}
.tMenu .profCont .dark-lightSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #66C2FF;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch {
    width: 3rem;
    height: 1.5rem;
  }
}
.tMenu .profCont .dark-lightSwitch img {
  height: 1.75rem;
  padding-left: 0.5rem;
  transition: 500ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch img {
    height: 1rem;
    padding-left: 0.3rem;
  }
}
.tMenu .profCont .profile {
  display: flex;
  gap: 1.5rem;
}
.tMenu .profCont .profile img {
  height: 5rem;
}
@media (max-width: 750px) {
  .tMenu .profCont .profile img {
    display: none;
  }
}
.tMenu .profCont .profile p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 93.682%; /* 22.484px */
}
@media (max-width: 750px) {
  .tMenu .profCont .profile p {
    display: none;
  }
}
.tMenu .profCont .profile span {
  color: #09F;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 93.682%;
}
.tMenu .bellCont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
}
@media (max-width: 750px) {
  .tMenu .bellCont {
    padding-right: 1rem;
  }
}
.tMenu .bellCont img {
  height: 2rem;
  transition: 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 480px) {
  .tMenu .bellCont img {
    height: 1.5rem;
  }
}
.tMenu .bellCont img:active {
  transform: scale(0.95);
}

.tBlack {
  background-color: #333;
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
}
.tBlack .langCont .langSwitch {
  background-color: #FFF;
  color: #333;
}
.tBlack .profCont .profile p {
  color: #FFF;
}

.mainStuff {
  width: calc(100% - 24rem);
  min-height: calc(100vh - 7rem);
  padding-left: 24rem;
  padding-top: 7rem;
}

.mainBlack {
  background-color: #333;
}

.login {
  display: flex;
  min-height: 100vh;
}
@media (max-width: 1320px) {
  .login {
    flex-direction: column;
  }
}
.login .lLogin {
  min-height: 100vh;
  width: clamp(30rem, 45vw, 50rem);
  background-color: aqua;
  background-image: url(../assets/img/blueBg.png);
  background-position: center;
  background-size: cover;
}
@media (max-width: 1760px) {
  .login .lLogin {
    width: clamp(30rem, 30vw, 40rem);
  }
}
@media (max-width: 1320px) {
  .login .lLogin {
    display: none;
  }
}
.login .media1300 {
  display: none;
}
.login .media1300 .fullHeading .blackSpan {
  color: #0099FF;
}
.login .media1300 .fullHeading .underline {
  background-color: #0099FF;
}
@media (max-width: 1320px) {
  .login .media1300 {
    display: block;
  }
}
.login .rLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 18.75rem;
}
@media (max-width: 1500px) {
  .login .rLogin {
    padding-left: 10rem;
  }
}
@media (max-width: 1320px) {
  .login .rLogin {
    width: 100%;
    padding-left: 0;
  }
}
.login .rLogin .centerD {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD {
    margin-top: 5rem;
  }
}
.login .rLogin .centerD .signUp {
  height: 40rem;
  width: 38rem;
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  position: relative;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp {
    height: 30rem;
    width: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .login .rLogin .centerD .signUp {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
}
.login .rLogin .centerD .signUp h2 {
  color: #333;
  font-family: Poppins;
  font-size: 2rem;
  margin-left: 2.75rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp h2 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
}
.login .rLogin .centerD .signUp p {
  color: #333;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 4.25rem;
  margin-bottom: 0;
}
.login .rLogin .centerD .signUp p:nth-child(2) {
  margin-top: 1.5rem;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp p:nth-child(2) {
    margin-top: 0rem;
  }
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp p {
    display: none;
  }
}
.login .rLogin .centerD .signUp input {
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  width: 25rem;
  height: 3rem;
  margin-left: 4.75rem;
  color: #808080;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1rem;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp input {
    font-size: 0.9rem;
    height: 2.5rem;
    width: 17.5rem;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .centerD .signUp button {
  width: 26.25rem;
  height: 3rem;
  background-color: #0099FF;
  border-radius: 12px;
  color: #FFF;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 4.75rem;
  border: 0;
  margin-top: 2rem;
  cursor: pointer;
  transition: 700ms;
}
.login .rLogin .centerD .signUp button:hover {
  background-color: white;
  color: #0099FF;
  border: solid 2px #0099FF;
  transition: 400ms background-color, color;
}
.login .rLogin .centerD .signUp button:active {
  transform: scale(0.95);
  transition: 150ms;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp button {
    font-size: 0.9rem;
    height: 2.5rem;
    width: 18.75rem;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .accountInfo {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #999;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-weight: 400;
  align-items: center;
}
@media (max-width: 1320px) {
  .login .rLogin .accountInfo {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
.login .rLogin .accountInfo pre {
  margin: 0;
  color: #333;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
@media (max-width: 1320px) {
  .login .rLogin .accountInfo pre {
    font-size: 0.9rem;
  }
}

.fullHeading {
  margin-top: 3.75rem;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
  text-align: center;
}
.fullHeading .blackSpan {
  color: white;
  position: relative;
}
.fullHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #333;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}/*# sourceMappingURL=styles.css.map */