@use './progress';
@use './leftMenu';
@use './topMenu';
@use './mainStuff';
@use './loginPage';
@use './todo';
@use './notesMenu';
@use './notes';
@use './pomodoro';
@use './profile';
@use './loadingPage';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

       /* ===== Scrollbar CSS ===== */
  /* Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: #0099ff white;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    border-radius: 12px;
    border: 3px solid white;
  }

  
}

.bodyScroll {
    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: #0099ff #333 !important;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #333 !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    border-radius: 12px;
    border: 3px solid #333 !important;
  }
}

.outerContOpen {
  transition: 300ms;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.outerCont {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;

  @media (max-width: 480px) {
    height: 1rem;
    width: 1rem;
  }

  .infoCircle {
    height: 1.5rem !important;
    width: 1.5rem;
    background-color: #99D5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transition: 400ms;

    &:hover {
      transition: 400ms;
      transform: scale(1.05);
    }

    &:active {
      transition: 400ms;
      transform: scale(1);
    }
  }

  .infoPopup {
    height: 5rem;
    width: 10rem;
    background-color: #0099ff;
    position: absolute;
    right: 3rem;
    top: 2rem;
  }

  p {
    font-family: "Poppins";
    font-size: 1rem;
    margin: 0;
    font-weight: 500;

    @media (max-width: 480px) {
      font-size: .66rem;
  }
  }
}
