main .progressConts {
  display: flex;
}
@media (max-width: 1200px) {
  main .progressConts {
    flex-direction: column;
  }
}
main .progressConts .selectPageCont, main .progressConts .selectTypeCont {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
}
@media (max-width: 1000px) {
  main .progressConts .selectPageCont, main .progressConts .selectTypeCont {
    width: -moz-fit-content;
    width: fit-content;
  }
}
main .progressConts .selectPageCont {
  margin-left: 4rem;
  margin-top: 4rem;
}
@media (max-width: 480px) {
  main .progressConts .selectPageCont {
    margin-left: 1.5rem;
    margin-top: 3.5rem;
  }
}
main .progressConts .selectPageCont .h2Cont {
  position: relative;
  display: flex;
  align-items: end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .progressConts .selectPageCont .h2Cont h2 {
  font-size: 2.5rem;
  margin: 0;
  color: #333;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
@media (max-width: 1000px) {
  main .progressConts .selectPageCont .h2Cont h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  main .progressConts .selectPageCont .h2Cont h2 {
    font-size: 1.5rem;
  }
}
main .progressConts .selectPageCont .h2Cont::before {
  content: url("../assets/icons/dropdown.svg");
  display: inline-block;
  margin-bottom: 0.5rem;
  transform: scale(0.5);
}
main .progressConts .selectPageCont .h2Cont ul {
  position: absolute;
  top: 4rem;
  list-style-type: none;
  padding: 0 0 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1000px) {
  main .progressConts .selectPageCont .h2Cont ul {
    top: 2rem;
  }
}
main .progressConts .selectPageCont .h2Cont ul li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #999;
  cursor: pointer;
}
main .progressConts .selectPageCont .h2Cont ul li:not(.selectedLi) {
  background-color: #FFF;
}
main .progressConts .selectPageCont .h2Cont ul li:hover:not(.selectedLi) {
  background-color: #FCFCFC;
}
main .progressConts .selectPageCont .h2Cont ul li:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
main .progressConts .selectPageCont .h2Cont ul li:nth-child(2) {
  border: 1px solid #CCC;
}
main .progressConts .selectPageCont .h2Cont ul li:nth-child(3) {
  border-radius: 0 0 1rem 1rem;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
main .progressConts .selectPageCont .h2Cont ul .selectedLi {
  background-color: #0099FF;
  color: white;
}
main .progressConts .selectPageCont .rotate:before {
  transition: 0.25s;
  transform: rotate(180deg) scale(0.5);
}
main .progressConts .selectPageCont .goBack:before {
  transition: 0.25s;
  transform: rotate(0deg) scale(0.5);
}
main .progressConts .selectTypeCont {
  margin-left: 4rem;
  margin-top: 4.75rem;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  main .progressConts .selectTypeCont {
    order: 2;
    margin-top: 1rem;
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  main .progressConts .selectTypeCont {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
}
main .progressConts .selectTypeCont .h3Cont {
  position: relative;
  display: flex;
  align-items: end;
  cursor: pointer;
}
main .progressConts .selectTypeCont .h3Cont h3 {
  padding-right: 4.5rem;
  font-size: 1.75rem;
  margin: 0;
  color: #333;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .progressConts .selectTypeCont .h3Cont h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  main .progressConts .selectTypeCont .h3Cont h3 {
    font-size: 1rem;
  }
}
main .progressConts .selectTypeCont .h3Cont::before {
  content: url("../assets/icons/dropdown.svg");
  display: inline-block;
  margin-bottom: 0.25rem;
  transform: scale(0.5);
}
main .progressConts .selectTypeCont .h3Cont ul {
  position: absolute;
  top: 2.5rem;
  list-style-type: none;
  padding: 0 0 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4.5rem);
  z-index: 1;
}
@media (max-width: 1000px) {
  main .progressConts .selectTypeCont .h3Cont ul {
    top: 1.5rem;
    font-size: 0.75rem;
  }
}
main .progressConts .selectTypeCont .h3Cont ul li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #999;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .progressConts .selectTypeCont .h3Cont ul li {
    height: 2rem;
  }
}
main .progressConts .selectTypeCont .h3Cont ul li:not(.selectedLi) {
  background-color: #FFF;
}
main .progressConts .selectTypeCont .h3Cont ul li:hover:not(.selectedLi) {
  background-color: #FCFCFC;
}
main .progressConts .selectTypeCont .h3Cont ul li:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
@media (max-width: 1000px) {
  main .progressConts .selectTypeCont .h3Cont ul li:nth-child(1) {
    border-radius: 0.75rem 0.75rem 0 0;
  }
}
main .progressConts .selectTypeCont .h3Cont ul li:nth-child(2) {
  border-radius: 0 0 1rem 1rem;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
@media (max-width: 1000px) {
  main .progressConts .selectTypeCont .h3Cont ul li:nth-child(2) {
    border-radius: 0 0 0.75rem 0.75rem;
  }
}
main .progressConts .selectTypeCont .h3Cont ul .selectedLi {
  background-color: #0099FF;
  color: white;
}
main .progressConts .selectTypeCont .rotate:before {
  transition: 0.25s;
  transform: rotate(180deg) scale(0.5);
}
main .progressConts .selectTypeCont .goBack:before {
  transition: 0.25s;
  transform: rotate(0deg) scale(0.5);
}
main .progressConts .counterCont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  main .progressConts .counterCont {
    order: 3;
    width: 100%;
  }
}
main .progressConts .counterCont .counter {
  height: 18rem;
  width: 18rem;
  border-radius: 100%;
  margin-top: 10rem;
  background: linear-gradient(0.12turn, #ffa800, rgba(255, 168, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  main .progressConts .counterCont .counter {
    margin-top: 2rem;
  }
}
@media (max-width: 1000px) {
  main .progressConts .counterCont .counter {
    height: 14rem;
    width: 14rem;
  }
}
@media (max-width: 480px) {
  main .progressConts .counterCont .counter {
    height: 9rem;
    width: 9rem;
    margin-top: 5rem;
  }
}
main .progressConts .counterCont .counter .counterInside {
  height: 91%;
  width: 91%;
  border-radius: 100%;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFA800;
  font-family: Poppins;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1000px) {
  main .progressConts .counterCont .counter .counterInside {
    font-size: 5.5rem;
  }
}
@media (max-width: 480px) {
  main .progressConts .counterCont .counter .counterInside {
    font-size: 3.5rem;
  }
}
main .progressConts .counterCont h2 {
  color: #FFA800;
  text-align: center;
  font-family: Open Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1000px) {
  main .progressConts .counterCont h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  main .progressConts .counterCont h2 {
    font-size: 1.25rem;
  }
}

.mainBlack .h2Cont h2 {
  color: white !important;
}
.mainBlack .h2Cont::before {
  filter: invert(100%) sepia(55%) saturate(386%) hue-rotate(218deg) brightness(120%) contrast(100%);
}
.mainBlack .h2Cont ul li:not(.selectedLi) {
  background-color: #333 !important;
  color: #FFF !important;
}
.mainBlack .h2Cont ul li:hover:not(.selectedLi) {
  background-color: rgb(77, 77, 77) !important;
}
.mainBlack .h3Cont h3 {
  color: white !important;
}
.mainBlack .h3Cont::before {
  filter: invert(100%) sepia(55%) saturate(386%) hue-rotate(218deg) brightness(120%) contrast(100%);
}
.mainBlack .h3Cont ul li:not(.selectedLi) {
  background-color: #333 !important;
  color: #FFF !important;
}
.mainBlack .h3Cont ul li:hover:not(.selectedLi) {
  background-color: rgb(77, 77, 77) !important;
}

.lMenu {
  height: 100vh;
  height: 100dvh;
  width: 24rem;
  border-right: 2px solid rgba(51, 51, 51, 0.09);
  position: fixed;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
.lMenu {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 153, 255, 0.3) #ffffff;
}
.lMenu::-webkit-scrollbar {
  width: 16px;
}
.lMenu::-webkit-scrollbar-track {
  background: #ffffff;
}
.lMenu::-webkit-scrollbar-thumb {
  background-color: rgb(234, 247, 255);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
@media (max-width: 1000px) {
  .lMenu {
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .lMenu {
    width: 4rem;
  }
}
.lMenu .fullHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .lMenu .fullHeading {
    display: none;
  }
}
.lMenu .fullHeading .blackSpan {
  color: #09F;
  position: relative;
}
.lMenu .fullHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
.lMenu .shortHeading {
  margin-top: 0;
  color: #333;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 1000px) {
  .lMenu .shortHeading {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .lMenu .shortHeading {
    font-size: 2.5rem;
  }
}
.lMenu .shortHeading .blackSpan {
  color: #09F;
  position: relative;
}
.lMenu .shortHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: #09F;
}
@media (max-width: 480px) {
  .lMenu .shortHeading .blackSpan .underline {
    top: 3rem;
  }
}
.lMenu .nameCont {
  padding-top: 4rem;
  padding-left: 5rem;
}
@media (max-width: 1000px) {
  .lMenu .nameCont {
    padding-left: 0;
  }
}
.lMenu .itemsCont {
  padding-left: 0;
  width: 100%;
  overflow-y: auto;
  margin-top: 4.25rem;
  margin-bottom: 1rem;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
.lMenu .itemsCont {
  scrollbar-width: thin;
  scrollbar-color: #b8e3ff #ffffff;
}
.lMenu .itemsCont::-webkit-scrollbar {
  width: 12px;
}
.lMenu .itemsCont::-webkit-scrollbar-track {
  background: #ffffff;
}
.lMenu .itemsCont::-webkit-scrollbar-thumb {
  background-color: #b8e3ff;
  border-radius: 12px;
  border: 3px solid #ffffff;
}
.lMenu .itemsCont img {
  width: 2.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont img {
    width: 2rem;
  }
}
@media (max-width: 750px) {
  .lMenu .itemsCont .profilePic {
    display: none;
  }
}
.lMenu .itemsCont .honzak {
  display: none;
}
@media (max-width: 750px) {
  .lMenu .itemsCont .honzak {
    display: block;
  }
}
.lMenu .itemsCont li {
  padding-left: 5rem;
  width: calc(98% - 5rem);
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li {
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
}
.lMenu .itemsCont li p {
  padding-left: 1rem;
  color: #333;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .lMenu .itemsCont li p {
    display: none;
  }
}
.lMenu .itemsCont li:hover {
  background-color: #f4f4f4;
  background-color: rgb(234, 247, 255);
  cursor: pointer;
}
.lMenu .itemsCont li:not(:first-child) {
  margin-top: 0.5rem;
}
@media (max-width: 480px) {
  .lMenu .itemsCont li:not(:first-child) {
    margin-top: 0rem;
  }
}
.lMenu .itemsCont li:active {
  transform: scale(0.95);
}

.lBlack {
  background-color: #333;
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  z-index: 1;
}
.lBlack .fullHeading {
  color: white;
}
.lBlack .shortHeading {
  color: white;
}
.lBlack .shortHeading .blackSpan {
  color: #09F;
}
.lBlack .itemsCont {
  /* Chrome, Edge, and Safari */
}
.lBlack .itemsCont {
  scrollbar-width: thin;
  scrollbar-color: #fff #333;
}
.lBlack .itemsCont::-webkit-scrollbar {
  width: 12px;
}
.lBlack .itemsCont::-webkit-scrollbar-track {
  background: #333;
}
.lBlack .itemsCont::-webkit-scrollbar-thumb {
  background-color: #b8e3ff;
  border-radius: 12px;
  border: 3px solid #333;
}
.lBlack .itemsCont li p {
  color: white;
}
.lBlack .itemsCont li:hover {
  background-color: rgba(244, 244, 244, 0.1);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.tMenu {
  position: fixed;
  left: 24rem;
  width: calc(100% - 24rem);
  height: 7rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.09);
  border-left: 2px solid rgba(51, 51, 51, 0.09);
  display: flex;
  z-index: 3;
  background-color: #FFF;
}
@media (max-width: 1000px) {
  .tMenu {
    width: calc(100% - 8rem);
    left: 8rem;
  }
}
@media (max-width: 480px) {
  .tMenu {
    width: calc(100% - 4rem);
    left: 4rem;
    height: 4rem;
  }
}
.tMenu .langCont {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
@media (max-width: 750px) {
  .tMenu .langCont {
    padding-left: 1rem;
  }
}
.tMenu .langCont .langSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 480px) {
  .tMenu .langCont .langSwitch {
    width: 3rem;
    height: 1.5rem;
    font-size: 0.75rem;
  }
}
.tMenu .langCont .langSwitch:hover {
  background: #09F;
}
.tMenu .langCont .langSwitch:active {
  transform: scale(0.95);
}
.tMenu .profCont {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 4rem;
}
@media (max-width: 750px) {
  .tMenu .profCont {
    padding-right: 0;
    gap: 2rem;
  }
}
.tMenu .profCont .dark-lightSwitch {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background: #66C2FF;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch {
    width: 3rem;
    height: 1.5rem;
  }
}
.tMenu .profCont .dark-lightSwitch img {
  height: 1.75rem;
  padding-left: 0.5rem;
  transition: 500ms;
}
@media (max-width: 480px) {
  .tMenu .profCont .dark-lightSwitch img {
    height: 1rem;
    padding-left: 0.3rem;
  }
}
.tMenu .profCont .profile {
  display: flex;
  gap: 1.5rem;
}
.tMenu .profCont .profile img {
  height: 5rem;
}
@media (max-width: 750px) {
  .tMenu .profCont .profile img {
    display: none;
  }
}
.tMenu .profCont .profile p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 93.682%; /* 22.484px */
}
@media (max-width: 750px) {
  .tMenu .profCont .profile p {
    display: none;
  }
}
.tMenu .profCont .profile span {
  color: #09F;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 93.682%;
}
.tMenu .bellCont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
}
@media (max-width: 750px) {
  .tMenu .bellCont {
    padding-right: 1rem;
  }
}
.tMenu .bellCont img {
  height: 2rem;
  transition: 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 480px) {
  .tMenu .bellCont img {
    height: 1.5rem;
  }
}
.tMenu .bellCont img:active {
  transform: scale(0.95);
}

.tBlack {
  background-color: #333;
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  border-left: 2px solid rgba(255, 255, 255, 0.22);
}
.tBlack .langCont .langSwitch {
  background-color: #FFF;
  color: #333;
}
.tBlack .profCont .profile p {
  color: #FFF;
}

.mainStuff {
  width: calc(100% - 24rem);
  min-height: calc(100vh - 7rem);
  padding-left: 24rem;
  padding-top: 7rem;
}
@media (max-width: 1000px) {
  .mainStuff {
    padding-left: 8rem;
    width: calc(100% - 8rem);
  }
}
@media (max-width: 480px) {
  .mainStuff {
    padding-left: 4rem;
    width: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);
    padding-top: 4rem;
  }
}

.mainBlack {
  background-color: #333;
}

.login {
  display: flex;
  min-height: 100vh;
}
@media (max-width: 1320px) {
  .login {
    flex-direction: column;
  }
}
.login .lLogin {
  min-height: 100vh;
  width: clamp(30rem, 45vw, 50rem);
  background-color: aqua;
  background-image: url(../assets/img/subtle-prism.svg);
  /* background by SVGBackgrounds.com */
  background-position: center;
  background-size: cover;
}
@media (max-width: 1760px) {
  .login .lLogin {
    width: clamp(30rem, 30vw, 40rem);
  }
}
@media (max-width: 1320px) {
  .login .lLogin {
    display: none;
  }
}
.login .diffBg {
  background-image: url(../assets/img/radiant-gradient.svg);
}
.login .fullHeading {
  margin-top: 3.75rem;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
  text-align: center;
}
.login .fullHeading .blackSpan {
  color: white;
  position: relative;
}
.login .fullHeading .blackSpan .underline {
  position: absolute;
  height: 3.5px;
  width: 97%;
  left: 3%;
  top: 5rem;
  border-radius: 8px;
  background-color: white;
}
.login .media1300 {
  display: none;
}
.login .media1300 .fullHeading .blackSpan {
  color: #0099FF;
}
.login .media1300 .fullHeading .underline {
  background-color: #0099FF;
}
@media (max-width: 1320px) {
  .login .media1300 {
    display: block;
  }
}
.login .rLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 18.75rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 1500px) {
  .login .rLogin {
    padding-left: 10rem;
  }
}
@media (max-width: 1320px) {
  .login .rLogin {
    width: 100%;
    padding-left: 0;
  }
}
.login .rLogin .centerD {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD {
    margin-top: 2rem;
  }
}
.login .rLogin .centerD .signUp {
  height: 40rem;
  width: 38rem;
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  position: relative;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp {
    height: 30rem;
    width: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .login .rLogin .centerD .signUp {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
.login .rLogin .centerD .signUp h2 {
  color: #333;
  font-family: Poppins;
  font-size: 2rem;
  margin-left: 2.75rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp h2 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
}
.login .rLogin .centerD .signUp p {
  color: #333;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 4.25rem;
  margin-bottom: 0;
}
.login .rLogin .centerD .signUp p:nth-child(2) {
  margin-top: 1.5rem;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp p:nth-child(2) {
    margin-top: 0rem;
  }
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp p {
    display: none;
  }
}
.login .rLogin .centerD .signUp input {
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  width: 25rem;
  height: 3rem;
  margin-left: 4.75rem;
  color: #808080;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1rem;
}
.login .rLogin .centerD .signUp input:focus {
  outline: #0099FF 2px solid;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp input {
    font-size: 0.9rem;
    height: 2.5rem;
    width: 17.5rem;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .centerD .signUp button {
  width: 26.25rem;
  height: 3rem;
  background-color: #0099FF;
  border-radius: 12px;
  color: #FFF;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 4.75rem;
  border: 0;
  margin-top: 2rem;
  cursor: pointer;
  transition: 700ms;
}
.login .rLogin .centerD .signUp button:hover {
  background-color: white;
  color: #0099FF;
  border: solid 2px #0099FF;
  transition: 400ms background-color, color;
}
.login .rLogin .centerD .signUp button:active {
  transform: scale(0.95);
  transition: 150ms;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp button {
    font-size: 0.9rem;
    height: 2.5rem;
    width: 18.75rem;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .centerD .signUp .signInB {
  background-color: white;
  color: #0099FF;
  border: solid 2px #0099FF;
  transition: 700ms background-color, color ease-out;
}
.login .rLogin .centerD .signUp .signInB:hover {
  background-color: #09F;
  color: white;
  border: none;
  transition: 400ms background-color, color ease-in;
}
.login .rLogin .centerD .signUp .dropdownRoot {
  display: flex;
}
.login .rLogin .centerD .signUp .dropdownRoot .dropdownShown {
  height: 51.6px;
  padding-left: 1rem;
  width: 419.6px;
  margin-left: 4.75rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  color: #808080;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp .dropdownRoot .dropdownShown {
    font-size: 0.9rem;
    height: 43.3333px;
    width: 299.333px;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .centerD .signUp .dropdownRoot .dropdownShown .arrow {
  position: absolute;
  right: 1.5rem;
  margin-top: -0.125rem;
  transition: 250ms;
}
.login .rLogin .centerD .signUp .dropdownRoot .dropdownShown .rotate {
  transform: rotate(180deg);
  transition: 250ms;
}
.login .rLogin .centerD .signUp .dropdownMenu {
  width: 419.6px !important;
  margin-left: 4.75rem;
  border-radius: 12px;
  border: 1px solid #CCC;
  background: #FFF;
  color: #b6b6b6;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  /* Chrome, Edge, and Safari */
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signUp .dropdownMenu {
    font-size: 0.9rem;
    width: 299.333px !important;
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.login .rLogin .centerD .signUp .dropdownMenu {
  scrollbar-width: thin;
  scrollbar-color: #b8e3ff #ffffff;
}
.login .rLogin .centerD .signUp .dropdownMenu::-webkit-scrollbar {
  width: 12px;
}
.login .rLogin .centerD .signUp .dropdownMenu::-webkit-scrollbar-track {
  background: #ffffff;
}
.login .rLogin .centerD .signUp .dropdownMenu::-webkit-scrollbar-thumb {
  background-color: #b8e3ff;
  border-radius: 12px;
  border: 3px solid #ffffff;
}
.login .rLogin .centerD .signUp .dropdownMenu .Dropdown-option {
  padding: 0.5rem 1rem;
}
.login .rLogin .centerD .signUp .dropdownMenu .Dropdown-title {
  padding: 0.5rem 1.5rem !important;
}
.login .rLogin .centerD .signUp .dropdownPlaceholder {
  color: #b6b6b6;
}
.login .rLogin .centerD .signIn {
  height: 27rem;
}
@media (max-width: 1320px) {
  .login .rLogin .centerD .signIn {
    height: 21rem;
    width: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .login .rLogin .centerD .signIn {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
.login .rLogin .accountInfo {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #999;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-weight: 400;
  align-items: center;
}
@media (max-width: 1320px) {
  .login .rLogin .accountInfo {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
.login .rLogin .accountInfo pre {
  margin: 0;
  color: #333;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
@media (max-width: 1320px) {
  .login .rLogin .accountInfo pre {
    font-size: 0.9rem;
  }
}

main .todoConts {
  box-sizing: border-box;
  padding-bottom: 3rem;
}
main .todoConts .topCont {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  gap: 30%;
  height: 2.5rem;
  margin-top: 2.8rem;
}
main .todoConts .topCont .ctaGroupTodo {
  margin-bottom: 0.2rem;
}
main .todoConts .topCont .dayTimeCont {
  display: flex;
  align-items: flex-end;
  gap: 0.7rem;
}
main .todoConts .topCont .dayTimeCont h4 {
  margin: 0 0 0.2rem 0;
  color: #666;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 93.682%; /* 1.40525rem */
}
main .todoConts .topCont .dayTimeCont .h2Cont {
  position: relative;
  display: flex;
  align-items: end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .todoConts .topCont .dayTimeCont .h2Cont h2 {
  font-size: 2rem;
  margin: 0;
  color: #333;
  text-align: center;
  font-family: Poppins;
  line-height: normal;
  position: relative;
  color: #333;
  font-weight: 600;
  line-height: 93.682%; /* 2.81044rem */
}
@media (max-width: 1000px) {
  main .todoConts .topCont .dayTimeCont .h2Cont h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  main .todoConts .topCont .dayTimeCont .h2Cont h2 {
    font-size: 1.5rem;
  }
}
main .todoConts .topCont .dayTimeCont .h2Cont::before {
  content: url("../assets/icons/dropdown.svg");
  display: inline-block;
  transform: scale(0.5);
}
main .todoConts .topCont .dayTimeCont .h2Cont ul {
  position: absolute;
  top: 4rem;
  list-style-type: none;
  padding: 0 0 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1000px) {
  main .todoConts .topCont .dayTimeCont .h2Cont ul {
    top: 2rem;
  }
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #999;
  cursor: pointer;
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li:not(.selectedLi) {
  background-color: #fff;
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li:hover:not(.selectedLi) {
  background-color: #fcfcfc;
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li:nth-child(2) {
  border: 1px solid #ccc;
}
main .todoConts .topCont .dayTimeCont .h2Cont ul li:nth-child(3) {
  border-radius: 0 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
main .todoConts .topCont .dayTimeCont .h2Cont .selectedLi {
  background-color: #0099ff;
  color: white;
}
main .todoConts .topCont .dayTimeCont .rotate:before {
  transition: 0.25s;
  transform: rotate(180deg) scale(0.5);
}
main .todoConts .topCont .dayTimeCont .goBack:before {
  transition: 0.25s;
  transform: rotate(0deg) scale(0.5);
}
main .todoConts .ctaCont {
  height: 100%;
}
main .todoConts .ctaCont:nth-child(2) {
  padding-top: 2rem;
  padding-left: 5.5rem;
}
main .todoConts .ctaGroupTodo {
  margin-bottom: 0.2rem;
  color: #CCC;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 93.682%;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  padding-right: 0.5rem;
  transition: 250ms;
  border-radius: 0.75rem;
  margin-top: 0;
}
main .todoConts .ctaGroupTodo::before {
  background-image: url(../assets/icons/BluePlus.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: "";
}
main .todoConts .ctaGroupTodo:hover {
  background-color: rgb(234, 247, 255);
  transition: 250ms;
  cursor: pointer;
  padding-left: 0.5rem;
  color: #ADADAD;
}
main .todoConts .ctaGroupTodo:active {
  transform: scale(0.95);
  transition: 250ms;
}
main .todoConts .leftCtaGroupTodo {
  font-weight: 400;
  height: 2.5rem;
}
main .todoConts .leftCtaGroupTodo:nth-child(4) {
  margin-top: 0;
}
main .todoConts .groupHeadline {
  color: #FF3D00;
  font-family: Poppins;
  font-size: 2rem;
  line-height: 93.682%; /* 2.34206rem */
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
main .todoConts .groupHeadline:not(:nth-child(1)) {
  margin-top: 3rem;
}
main .todoConts .groupCont {
  padding-left: 5.5rem;
}
main .todoConts .createToDo {
  width: 70%;
  height: 15rem;
  border-radius: 1.5rem;
  border: 1px solid #CCC;
  position: absolute;
  background-color: #FFF;
  z-index: 1;
}
main .todoConts .createToDo .topInputCont {
  padding-top: 2.75rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .todoConts .createToDo .topInputCont input {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background: transparent;
}
main .todoConts .createToDo .topInputCont .imgAndInputCont {
  margin-left: 2.45rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
main .todoConts .createToDo .topInputCont .imgAndInputCont .headline {
  color: #a7a7a7;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 8rem;
  max-width: 30rem;
}
main .todoConts .createToDo .topInputCont .imgAndInputCont img {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}
main .todoConts .createToDo .topInputCont .shortDesc {
  color: #a7a7a7;
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-left: 4rem;
  min-width: 7rem;
  max-width: 30rem;
}
main .todoConts .createToDo .topInputCont .chrome-picker {
  position: absolute;
  z-index: 3;
  left: 15rem;
  font-family: Open Sans;
}
main .todoConts .createToDo .topInputCont .chrome-picker .flexbox-fix #rc-editable-input-2, main .todoConts .createToDo .topInputCont .chrome-picker .flexbox-fix label {
  font-family: Open Sans;
}
main .todoConts .createToDo .topInputCont .palletteOpen {
  display: block;
}
main .todoConts .createToDo .topInputCont .palletteClose {
  display: none;
}
main .todoConts .createToDo .bottomBtnCont {
  width: 100%;
  display: flex;
  margin-top: 5rem;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  position: relative;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn {
  padding: 0 2.25rem 0 2.25rem;
  height: 2.1rem;
  border-radius: 0.75rem;
  border: 1px solid #CCC;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  color: #a7a7a7;
  font-family: Open Sans;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 2.75rem;
  cursor: pointer;
  transition: color 600ms;
  z-index: 2;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn::after {
  content: "";
  background-color: #FFD600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  border-radius: 0.7rem;
  z-index: -1;
  transition: height 500ms ease, transform 300ms;
  overflow: hidden;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn:hover::after {
  height: 100%;
  transition: 500ms ease;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn:hover {
  color: #FFF;
  transition: 600ms;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn:active {
  transform: translateY(0.25rem);
  transition: transform 300ms;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn::before {
  content: "";
  background-image: url(../assets/icons/PriorityLightningDef.svg);
  height: 1.2rem;
  width: 0.8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 1rem;
}
main .todoConts .createToDo .bottomBtnCont .prioBtn:hover::before {
  filter: brightness(0) invert(1);
}
main .todoConts .createToDo .bottomBtnCont .lightPrio1::before {
  filter: brightness(0) invert(17%) sepia(93%) saturate(6497%) hue-rotate(1deg) contrast(119%);
}
main .todoConts .createToDo .bottomBtnCont .lightPrio2::before {
  filter: brightness(0) invert(40%) sepia(26%) saturate(7113%) hue-rotate(119deg) contrast(101%);
}
main .todoConts .createToDo .bottomBtnCont .lightPrio3::before {
  filter: brightness(0) invert(41%) sepia(17%) saturate(6726%) hue-rotate(184deg) contrast(102%);
}
main .todoConts .createToDo .bottomBtnCont .lightPrio4::before {
  filter: brightness(0) invert(41%) sepia(6%) saturate(2%) hue-rotate(315deg) contrast(84%);
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont {
  display: flex;
  margin-right: 2.75rem;
  gap: 1.5rem;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .closeBtn {
  padding: 0 1.5rem 0 1.5rem;
  height: 2.1rem;
  border-radius: 0.75rem;
  border: 1px solid #CCC;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  color: #a7a7a7;
  font-family: Open Sans;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 600ms, transform 300ms;
  z-index: 2;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .closeBtn::before {
  content: "";
  background-color: #FF6767;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0.7rem;
  z-index: -1;
  transition: top 500ms ease;
  overflow: hidden;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .closeBtn:hover::before {
  top: 0;
  transition: 500ms ease;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .closeBtn:hover {
  color: #FFF;
  transition: 600ms;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .closeBtn:active {
  transform: translateY(0.25rem);
  transition: transform 300ms;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .submitBtn {
  padding: 0 1.5rem 0 1.5rem;
  height: 2.1rem;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  color: #a7a7a7;
  font-family: Open Sans;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09F;
  color: #FFF;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 400ms, color 400ms, border-color 400ms, transform 300ms;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .submitBtn:hover {
  border: #09F solid 2px;
  background-color: transparent;
  color: #09F;
  transition: background-color 400ms, color 400ms, border-color 400ms;
  padding: 0 1.4rem 0 1.4rem;
}
main .todoConts .createToDo .bottomBtnCont .rightBtnCont .submitBtn:active {
  transform: translateY(0.25rem);
  transition: transform 300ms;
}
main .todoConts .createToDo .prioDropdown {
  width: 117.4px;
  border-radius: 0.75rem;
  border: 1px solid #CCC;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  position: absolute;
  padding: 0;
  margin-left: 2.75rem;
  display: flex;
  flex-direction: column;
  top: 2rem;
}
main .todoConts .createToDo .prioDropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.15rem;
  position: relative;
  color: #999;
  font-family: Open Sans;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 600ms;
  z-index: 2;
  background-color: #FFF;
}
main .todoConts .createToDo .prioDropdown li::after {
  content: "";
  background-color: #FFD600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: -1;
  transition: height 500ms ease, transform 300ms;
  overflow: hidden;
}
main .todoConts .createToDo .prioDropdown li:hover::after {
  height: 100%;
  transition: 500ms ease;
}
main .todoConts .createToDo .prioDropdown li:hover {
  color: #FFF;
  transition: 600ms;
}
main .todoConts .createToDo .prioDropdown li:hover img {
  filter: brightness(0) invert(1);
}
main .todoConts .createToDo .prioDropdown li:not(:nth-child(4)) {
  border-bottom: 1px #CCC solid;
}
main .todoConts .createToDo .prioDropdown li:nth-child(1) {
  border-radius: 0.75rem 0.75rem 0 0;
}
main .todoConts .createToDo .prioDropdown li:nth-child(1)::after {
  border-radius: 0.75rem 0.75rem 0 0;
}
main .todoConts .createToDo .prioDropdown li:nth-child(4) {
  border-radius: 0 0 0.75rem 0.75rem;
}
main .todoConts .createToDo .prioDropdown li:nth-child(4)::after {
  border-radius: 0 0 0.75rem 0.75rem;
}
main .todoConts .createToDo .prioDropdown li img {
  height: 1.2rem;
  width: 0.8rem;
  position: absolute;
  left: 1rem;
}
main .todoConts .createToDo .prioDropdown li p {
  margin-left: 0.65rem;
}
main .todoConts .createGroup {
  width: auto;
  height: auto;
  padding-bottom: 1rem;
}
main .todoConts .createGroup .topInputCont {
  padding-top: 2rem;
}
main .todoConts .createGroup .bottomBtnCont {
  margin-top: 2rem;
}
main .todoConts .createGroup .rightBtnCont {
  width: 100%;
  justify-content: end;
  margin-left: 2.45rem;
  margin-right: 2.45rem;
}
main .todoConts .toDoListItemsCont {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
main .todoConts .toDoListItemsCont .toDoListItem {
  display: flex;
  align-items: center;
  width: 70%;
  border-bottom: solid 1px #CCC;
  height: 3rem;
  justify-content: space-between;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .priorityCircle {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 100%;
  box-sizing: border-box;
  transition: 250ms;
  cursor: pointer;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .priorityCircle:hover {
  transition: 125ms;
  transform: scale(1.05);
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .priorityCircle:active {
  transform: scale(0.95);
  transition: 125ms;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .prio4:hover {
  background-color: #F2F2F2;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .prio3:hover {
  background-color: #CCEBFF !important;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .prio2:hover {
  background-color: #CCFFDA !important;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont .prio1:hover {
  background-color: #FFCCCC !important;
}
main .todoConts .toDoListItemsCont .toDoListItem .btnAndTextCont p {
  color: #333;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 93.682%; /* 22.484px */
  margin: 0;
}
main .todoConts .toDoListItemsCont .toDoListItem .rightBtnsCont {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  gap: 0.5rem;
}
main .todoConts .toDoListItemsCont .toDoListItem .rightBtnsCont img {
  cursor: pointer;
  transition: 125ms;
}
main .todoConts .toDoListItemsCont .toDoListItem .rightBtnsCont img:hover {
  transition: 200ms;
  transform: scale(1.05);
}
main .todoConts .toDoListItemsCont .toDoListItem .rightBtnsCont img:active {
  transition: 200ms;
  transform: scale(0.95);
}
main .todoConts .dropdownGroup {
  display: block;
  width: 419.6px !important;
  height: 10rem;
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 80%);
  background: #FFF;
  color: #b6b6b6;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  overflow: auto;
  padding: 0;
  position: absolute;
  z-index: 2;
  /* Chrome, Edge, and Safari */
}
main .todoConts .dropdownGroup li {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 0.75rem 1.5rem;
  transition: 300ms;
}
main .todoConts .dropdownGroup li:hover {
  background-color: rgb(234, 247, 255);
  cursor: pointer;
  transition: 300ms;
}
main .todoConts .dropdownGroup {
  scrollbar-width: thin;
  scrollbar-color: #b8e3ff #ffffff;
}
main .todoConts .dropdownGroup::-webkit-scrollbar {
  width: 12px;
}
main .todoConts .dropdownGroup::-webkit-scrollbar-track {
  background: #ffffff;
}
main .todoConts .dropdownGroup::-webkit-scrollbar-thumb {
  background-color: #b8e3ff;
  border-radius: 12px;
  border: 3px solid #ffffff;
}
main .todoConts .dropdownPlaceholder {
  color: #b6b6b6;
}

.notesMenu {
  display: flex;
  width: 15.5rem;
  height: calc(100vh - 8.75rem);
  padding-top: 1.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  flex-shrink: 0;
  border-right: 2px solid rgba(51, 51, 51, 0.09);
  border-left: 2px solid rgba(51, 51, 51, 0.09);
  position: fixed;
  right: 0rem;
}
.notesMenu .topCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}
.notesMenu .topCont .item {
  display: flex;
  padding: 0.25rem 0rem 0.25rem 1.25rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}
.notesMenu .topCont .item p {
  margin: 0;
  color: #999;
  font-family: Open Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 93.682%; /* 1.40525rem */
}
.notesMenu .topCont .item img {
  height: 1.25rem;
}
.notesMenu .bottomCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}
.notesMenu .bottomCont .myNotes {
  padding-left: 1.25rem;
  margin: 0;
  color: #666;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 93.682%; /* 1.40525rem */
}
.notesMenu .bottomCont .notesList {
  display: flex;
  padding: 0rem 1rem 0rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.notesMenu .bottomCont .notesList .leftCont {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.notesMenu .bottomCont .notesList .leftCont p {
  color: #09f;
  font-family: Open Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 93.682%;
  margin: 0;
}
.notesMenu .bottomCont .notesList .rightCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
html, body {
  scrollbar-width: thin;
  scrollbar-color: #0099ff white;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 16px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: white;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #0099ff;
  border-radius: 12px;
  border: 3px solid white;
}

.bodyScroll {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
.bodyScroll {
  scrollbar-width: thin;
  scrollbar-color: #0099ff #333 !important;
}
.bodyScroll::-webkit-scrollbar {
  width: 16px;
}
.bodyScroll::-webkit-scrollbar-track {
  background: #333 !important;
}
.bodyScroll::-webkit-scrollbar-thumb {
  background-color: #0099ff;
  border-radius: 12px;
  border: 3px solid #333 !important;
}/*# sourceMappingURL=styles.css.map */